MercadoLibre (MLU) (Prod).json
{
  "name": "MercadoLibre (MLU) (Prod)",
  "nodes": [
    {
      "parameters": {
        "path": "3d55ac4f-f8d2-4f1e-8488-1e7b5ff2ae09",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -896,
        -512
      ],
      "id": "893774fe-5261-4f52-80e2-b74345bfe9e3",
      "name": "Webhook Get Category",
      "webhookId": "3d55ac4f-f8d2-4f1e-8488-1e7b5ff2ae09"
    },
    {
      "parameters": {
        "url": "=https://api.mercadolibre.com/sites/{{ $('Workflow Config Category').item.json.site_id }}/domain_discovery/search?limit=8&q={{ $('Webhook Get Category').item.json.query.product_name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        -512
      ],
      "id": "b598c88b-c8d3-4b13-805f-a262a353f8be",
      "name": "Get Meli Categories"
    },
    {
      "parameters": {
        "jsCode": "const categories = $('Get Meli Categories').all().map(category => {\n  return {\n    code: category.json.category_id,\n    name: category.json.category_name,\n    description: category.json.domain_name\n  }\n});\n\n// let completeDate = {\n//   code: category.category_id,\n//   name: category.category_name,\n//   description: category.domain_name,\n//   attributes: category.attributes\n// }\nreturn categories;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -512
      ],
      "id": "13e723a5-1229-4199-a459-a7d395c52437",
      "name": "Merge Requests"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "meli-callbacks",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1888,
        -2240
      ],
      "id": "acfd18ca-4975-4e8f-971b-deedfc1704b0",
      "name": "Meli Orders",
      "webhookId": "7a431825-7ddf-473e-af5d-4e2287dd2f24"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Extract topic + resource id from Meli notification body.\n// Meli sends: { resource: '/orders/2000003508419013', topic: 'orders_v2', user_id, ... }\nconst webhook = $('Meli Orders').item.json;\nconst body = webhook.body || webhook;\nconst topic = body.topic;\nconst resource = body.resource || '';\nconst resourceId = resource.split('/').filter(Boolean).pop();\n\nif (!resourceId) {\n  throw new Error('Missing resource id in Meli notification');\n}\n\nreturn { json: { meli_order_id: resourceId, topic, sent_at: body.sent } };"
      },
      "id": "db486e9d-63ef-4f9c-a803-fc145e4e61bf",
      "name": "Parse Notification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1904,
        -1936
      ]
    },
    {
      "parameters": {
        "url": "=https://api.mercadolibre.com/orders/{{ $json.meli_order_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Token For Order').item.json.access_token }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "bc1a1fa4-be9e-4a55-947f-64ec2c26b360",
      "name": "Get Meli Order",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2128,
        -1936
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Default Values from Client').item.json.backend_url }}/v1/store/orders/import",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Tenant",
              "value": "={{ $('Set Default Values from Client').item.json.tenant }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set Default Values from Client').item.json.token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('build_payload').first().json) }}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "ed6eab59-1ff0-443a-83f3-6e7c08652a20",
      "name": "POST Sabana /orders/import",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1904,
        -1696
      ]
    },
    {
      "parameters": {
        "url": "=https://api.mercadolibre.com/orders/billing-info/{{ $('Get Meli Order').first().json.context.site }}/{{ $('Get Meli Order').first().json.buyer.billing_info.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Token For Order').item.json.access_token }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "739bc24b-892d-4d2d-a6d4-dc947b969c71",
      "name": "get_billing_info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2576,
        -1936
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$('Meli Orders').item.json.body.topic}}",
                    "rightValue": "orders_v2",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "784dfa9b-010f-4d9c-8f18-ef271e5c3aa5"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2112,
        -2240
      ],
      "id": "1d31e1e7-c4b1-4808-94e1-6f24679e2a8a",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "// Merge order + shipment + billing_info into the canonical Sabana payload.\n// Sources (read by node name so reordering does not break the flow):\n//   - Get Meli Order            : order header, buyer (basic), order_items, payments\n//   - Get Meli Shipment         : receiver_address (preferred for shipping), receiver_phone, shipping cost, ETA\n//   - Get Meli Billing Info     : identification (type+number) → TaxGroup+TaxID, fiscal name split, fiscal address fallback\nconst order = $('Get Meli Order').first().json;\nconst shipment = (() => { try { return $('Get Shipment Info').first().json || {}; } catch (e) { return {}; } })();\nconst billing = (() => {\n  try { return ($('get_billing_info').first().json || {}).buyer?.billing_info || {}; }\n  catch (e) { return {}; }\n})();\n\n// --- Address: prefer shipment, fall back to billing_info.address ---\nconst recv  = shipment.receiver_address || {};\nconst bAddr = billing.address || {};\nconst useShip = !!(recv.street_name || recv.address_line);\n\nconst street  = useShip\n    ? [recv.street_name, recv.street_number].filter(Boolean).join(' ').trim()\n    : [bAddr.street_name, bAddr.street_number].filter(Boolean).join(' ').trim();\nconst city    = useShip ? (recv.city?.name || '') : (bAddr.city_name || '');\nconst region  = useShip ? (recv.state?.name || '') : (bAddr.state?.name || '');\nconst country = useShip ? (recv.country?.id || '') : (bAddr.country_id || '');\nconst postal  = useShip ? (recv.zip_code || '') : (bAddr.zip_code || '');\nconst comment = useShip ? (recv.comment || '') : '';\nconst locName = useShip ? (recv.receiver_name || street) : street;\nconst phone   = useShip ? (recv.receiver_phone || '') : '';\n\n// --- Identification → tax group + tax id ---\nconst ident    = billing.identification || {};\nconst taxId    = ident.number || '';\nconst taxGroup = ident.type   || '';   // 'CI' | 'RUT' | 'DNI' | …\n\n// --- Name: billing_info wins (fiscal); fallback to order.buyer ---\nconst firstName = billing.name      || order.buyer?.first_name || '';\nconst lastName  = billing.last_name || order.buyer?.last_name  || '';\n\n// --- Freight: shipment.shipping_option.cost → payments[0].shipping_cost → 0 ---\nconst freight = shipment?.shipping_option?.cost\n              ?? order.payments?.[0]?.shipping_cost\n              ?? 0;\n\n// --- ETA ---\nconst datePromised = shipment?.shipping_option?.estimated_delivery_time?.date?.substring(0,10) || null;\n\n// --- Currency / dates ---\nconst currencyIso = order.currency_id || 'USD';\nconst dateOrdered = (order.date_created || new Date().toISOString()).substring(0,10);\n\nconst payload = {\n  store: { StoreCode: 'Mercado Libre' },\n  order: {\n    DocTypeName: null,\n    CurrencyISOCode: currencyIso,\n    PaymentRule: 'P',\n    DateOrdered: dateOrdered,\n    DatePromised: datePromised,\n    DocumentNo: order.id,\n    Description: `Pedido MercadoLibre #${order.id} - Canal: ${order.context?.site || ''}`.trim(),\n    FreightAmt: freight,\n    FreightCostRule: 'I'\n  },\n  bpartner: {\n    BPartnerValue: 'MELI-' + (order.buyer?.id || ''),\n    Name:  firstName,\n    Name2: lastName,\n    TaxID: taxId,\n    TaxGroupName: taxGroup,\n    IsCustomer: 'Y',\n    IsVendor: 'N'\n  },\n  bpartner_location: {\n    LocationName: locName || ('Meli buyer ' + (order.buyer?.id || '')),\n    Address1: street || (useShip ? (recv.address_line || '') : ''),\n    Address2: comment,\n    City: city,\n    RegionName: region,\n    CountryCode: country,\n    PostalCode: postal,\n    Phone: phone,\n    IsShipTo: 'Y',\n    IsBillTo: 'Y'\n  },\n  order_lines: (order.order_items || []).map((it, idx) => {\n    const item = it.item || {};\n    return {\n      Line: (idx + 1) * 10,\n      ProductPublicationCode: item.id,\n      PublishCode: item.id,\n      ProductValue: item.seller_sku,\n      ProductName: item.title,\n      QtyOrdered: it.quantity,\n      PriceActual: it.unit_price,\n      PriceList: (it.gross_price != null ? it.gross_price : it.unit_price),\n      Discount: 0,\n      Description: [item.title, item.condition ? `Condición: ${item.condition}` : '']\n                     .filter(Boolean).join(' — ')\n    };\n  })\n};\n\nreturn [{ json: payload }];"
      },
      "id": "13386aaa-49db-4199-978a-b1007bf7a6dc",
      "name": "build_payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        -1936
      ]
    },
    {
      "parameters": {
        "jsCode": "// Obtenemos el primer ítem del flujo\nconst item = $('Get Shipment Label').first();\n\n// Extraemos los metadatos de la propiedad binaria llamada 'data'\nconst fileMetadata = item.binary.data;\nconst sizeString = fileMetadata.fileSize; // Esto es \"71.3 kB\" o \"2.5 MB\", etc.\nconst rawName = fileMetadata.fileName; \nconst match = rawName.match(/shipment_ids=(\\d+)/);\nconst cleanName = match ? `${match[1]}.pdf` : rawName;\n\n// Extraemos el número (ej: 71.3)\nconst number = parseFloat(sizeString);\n  \n// Detectamos la unidad (B, kB, MB)\nlet sizeInBytes = number;\nif (sizeString.includes('kB')) {\n  sizeInBytes = Math.round(number * 1024);\n} else if (sizeString.includes('MB')) {\n  sizeInBytes = Math.round(number * 1024 * 1024);\n} else if (sizeString.includes('GB')) {\n  sizeInBytes = Math.round(number * 1024 * 1024 * 1024);\n}\n\n// --- EL CAMBIO CLAVE PARA EL NUEVO MOTOR BINARIO DE n8n ---\n// Clonamos la estructura binaria original para mantener la referencia física del archivo\nconst newBinaryData = { ...item.binary };\n\n// Modificamos el fileName dentro de los metadatos internos del binario\nif (newBinaryData.data) {\n  newBinaryData.data = {\n    ...newBinaryData.data,\n    fileName: cleanName\n  };\n}\n\nreturn {\n  json: {\n    fileName: cleanName,\n    fileExtension: fileMetadata.fileExtension,\n    mimeType: fileMetadata.mimeType,\n    fileSize: sizeInBytes\n  },\n  // Retornamos el binario clonado y actualizado con el nombre correcto\n  binary: newBinaryData\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2816,
        -1696
      ],
      "id": "ba27a3e4-d5a3-41fc-90c7-418c0de3ffe0",
      "name": "Convert File Metadata Info"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Default Values from Client').item.json.backend_url }}/v1/business/attachments/upload-url",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Tenant",
              "value": "={{ $('Set Default Values from Client').item.json.tenant }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set Default Values from Client').item.json.token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"table_name\": \"M_Package\",\n    \"record_id\": {{ $('Create Package').item.json.id }},\n    \"file_name\": \"{{ $json.fileName }}\",\n    \"content_type\": \"{{ $json.mimeType }}\",\n    \"file_size\": {{ $json.fileSize }},\n    \"description\": \"Creado dese Meli Callback\",\n    \"title\": \"{{ $json.fileName }}\"\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "a6485d3e-0a65-41f6-8d44-ec41962e24b6",
      "name": "Get Presigned-URL Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3040,
        -1792
      ]
    },
    {
      "parameters": {
        "jsCode": "// 1. Obtenemos el primer ítem específicamente del nodo \"Get Meli Shipment\"\nconst item = $items(\"Get Shipment Label\")[0];\n\nif (!item || !item.binary || !item.binary.data) {\n  throw new Error(\"No se encontró el archivo binario 'data' en el nodo Get Meli Shipment\");\n}\n\nconst fileMetadata = item.binary.data;\nconst rawName = fileMetadata.fileName; \n\n// 2. Limpiamos el nombre usando tu expresión regular (RegEx)\nconst match = rawName.match(/shipment_ids=(\\d+)/);\nconst cleanName = match ? `${match[1]}.pdf` : rawName;\n\n// 3. LA SOLUCIÓN DEFINITIVA PARA EL NUEVO MOTOR BINARIO:\n// Usamos el helper oficial para clonar físicamente el archivo evitando errores circulares\nconst newBinaryData = { ...item.binary };\n\n// Modificamos el fileName dentro de los metadatos internos del binario\nif (newBinaryData.data) {\n  newBinaryData.data = {\n    ...newBinaryData.data,\n    fileName: cleanName\n  };\n}\n// Retornamos únicamente la estructura JSON básica que requiere n8n y el binario modificado\nreturn {\n  json: {\n    message: \"Archivo procesado correctamente\"\n  },\n  binary: newBinaryData\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3264,
        -1792
      ],
      "id": "f38bda52-690c-4f76-9515-7d3480f393a7",
      "name": "Get File from Local Storage Info"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $('Get Presigned-URL Info').item.json.upload_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "={{ $('Convert File Metadata Info').item.json.mimeType }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "timeout": 15000
        }
      },
      "id": "4bf5ccb6-3f6d-4bb8-9980-33aa2891feea",
      "name": "PUT File Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3488,
        -1792
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Default Values from Client').item.json.backend_url }}/v1/business/attachments/confirm",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Tenant",
              "value": "={{ $('Set Default Values from Client').item.json.tenant }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set Default Values from Client').item.json.token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"table_name\": \"M_Package\",\n    \"record_id\": {{ $('Create Package').item.json.id }},\n    \"file_name\": \"{{ $('Convert File Metadata Info').item.json.fileName }}\",\n    \"content_type\": \"{{ $('Convert File Metadata Info').item.json.mimeType }}\",\n    \"file_size\": {{ $('Convert File Metadata Info').item.json.fileSize }},\n    \"description\": \"Creado dese Meli Callback\",\n    \"title\": \"{{ $('Convert File Metadata Info').item.json.fileName }}\"\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "a0ab61e2-2c14-4e38-886f-23bc0f277b2f",
      "name": "Confirm Upload Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3712,
        -1792
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cd0db460-c8f4-492b-9638-2f095175c6cf",
              "leftValue": "={{ $('Get Meli Order').item.json.shipping.id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2144,
        -1696
      ],
      "id": "e2932073-c889-48f3-b907-a42d64d54cf6",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Default Values from Client').item.json.backend_url }}/v1/inventory/packages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Tenant",
              "value": "={{ $('Set Default Values from Client').item.json.tenant }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set Default Values from Client').item.json.token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"order_id\": {{ $('POST Sabana /orders/import').item.json.order_id }},\n    \"tracking_info\": \"{{ $('Get Shipment Info').item.json.tracking_method }} - {{ $('Get Shipment Info').item.json.tracking_number }}\",\n    \"description\": \"{{ $('Get Shipment Info').item.json.shipping_option.name }} - {{ $('Get Meli Order').item.json.order_items[0].item.title }}\"\n}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2592,
        -1696
      ],
      "id": "c627051f-1a94-4cb9-8b0e-4c5bfa355b6b",
      "name": "Create Package"
    },
    {
      "parameters": {
        "path": "fbd3d2b8-f440-4449-8429-64af0032eae9",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -880,
        96
      ],
      "id": "56221af5-a4ca-462f-a745-6f1531ad52f3",
      "name": "Webhook Get Attributes",
      "webhookId": "fbd3d2b8-f440-4449-8429-64af0032eae9"
    },
    {
      "parameters": {
        "jsCode": "// Enriquece atributos string con sugerencias (p. ej. BRAND, COLOR) con la lista COMPLETA\n// de valores desde el endpoint top_values del catalog_domain de MELI (incluye marcas que\n// no entran en el top de la categoría, p. ej. Kassel). Si algo falla, deja los valores de\n// la categoría como estaban. value_type se mantiene tal cual (no cambia el tipo en SP034).\nconst token = $('Get Token for Attributes').first().json.access_token;\nconst categoryId = $('Webhook Get Attributes').first().json.query.category_id;\n\n// 1) Dominio de catálogo de la categoría (para armar la URL de top_values)\nlet domain = null;\ntry {\n  const category = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `https://api.mercadolibre.com/categories/${categoryId}`,\n    headers: { Authorization: `Bearer ${token}` },\n    json: true\n  });\n  domain = (category && category.settings && category.settings.catalog_domain) || null;\n} catch (e) {}\n\nconst items = $input.all().map(v => v.json);\nconst result = [];\n\nfor (const attribute of items) {\n  let values = Array.isArray(attribute.values) ? attribute.values : [];\n\n  // Solo string con sugerencias: traer la lista completa (top_values).\n  const isStringWithValues = attribute.value_type === 'string' && values.length > 0;\n  if (domain && isStringWithValues) {\n    try {\n      const topValues = await this.helpers.httpRequest({\n        method: 'POST',\n        url: `https://api.mercadolibre.com/catalog_domains/${domain}/attributes/${attribute.id}/top_values`,\n        headers: { Authorization: `Bearer ${token}`, 'Content-Type': 'application/json' },\n        body: { known_attributes: [] },\n        json: true\n      });\n      if (Array.isArray(topValues) && topValues.length > 0) {\n        values = topValues;\n      }\n    } catch (e) {}\n  }\n\n  result.push({\n    code: attribute.id,\n    name: attribute.name,\n    description: attribute.hint,\n    mandatory: !!(attribute.tags && (attribute.tags.required || attribute.tags.catalog_required)),\n    max_length: attribute.value_max_length,\n    value_type: attribute.value_type,\n    default_unit: attribute.default_unit,\n    allowed_units: attribute.allowed_units,\n    values: values.map(v => ({ code: v.id, name: v.name }))\n  });\n}\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        96
      ],
      "id": "47a04153-f3ff-4ce8-a63c-f3363ad5e8d7",
      "name": "Merge Attributes"
    },
    {
      "parameters": {
        "jsCode": "// Extract media files from webhook\nconst items = [];\nconst webhookData = $('Webhook (PublishCallbacks)').first().json.body;\n\n// Check if media exists\nif (!webhookData || !webhookData.media) {\n  // No media files, return empty array\n  console.log('No media files found in webhook data');\n  return [];\n}\n\nconst mediaFiles = webhookData.media;\nconst productCode = webhookData.document.code;\nconst clientUuid = webhookData.document.client;\nconst cacheKey = `ml-images:${clientUuid}-${productCode}`;\n\nconsole.log(`========================================`);\nconsole.log(`Processing ${mediaFiles.length} media files for product ${productCode}`);\nconsole.log(`Full media array:`, JSON.stringify(mediaFiles, null, 2));\n\n// Create an item for each media file\nfor (let i = 0; i < mediaFiles.length; i++) {\n  const filePath = mediaFiles[i];\n  const filename = filePath.split('/').pop();\n  const s3Key = filePath.startsWith('/') ? filePath.substring(1) : filePath;\n  \n  console.log(`Item ${i}: filename=${filename}, path=${filePath}`);\n  \n  items.push({\n    json: {\n      filename: filename,\n      s3_key: s3Key,\n      s3_path: filePath,\n      product_code: productCode,\n      client_uuid: clientUuid,\n      cache_key: cacheKey,\n      index: i\n    }\n  });\n}\n\nconsole.log(`Created ${items.length} items for processing`);\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3392,
        208
      ],
      "id": "c8b256cb-741f-4205-9729-e67fe21b35b8",
      "name": "Process Media Files (Update)"
    },
    {
      "parameters": {
        "jsCode": "// Extract media files from webhook\nconst items = [];\nconst webhookData = $('Webhook (PublishCallbacks)').first().json.body;\n\n// Check if media exists\nif (!webhookData || !webhookData.media) {\n  // No media files, return empty array\n  console.log('No media files found in webhook data');\n  return [];\n}\n\nconst mediaFiles = webhookData.media;\nconst productCode = webhookData.document.code;\nconst clientUuid = webhookData.document.client;\nconst cacheKey = `ml-images:${clientUuid}-${productCode}`;\n\nconsole.log(`========================================`);\nconsole.log(`Processing ${mediaFiles.length} media files for product ${productCode}`);\nconsole.log(`Full media array:`, JSON.stringify(mediaFiles, null, 2));\n\n// Create an item for each media file\nfor (let i = 0; i < mediaFiles.length; i++) {\n  const filePath = mediaFiles[i];\n  const filename = filePath.split('/').pop();\n  const s3Key = filePath.startsWith('/') ? filePath.substring(1) : filePath;\n  \n  console.log(`Item ${i}: filename=${filename}, path=${filePath}`);\n  \n  items.push({\n    json: {\n      filename: filename,\n      s3_key: s3Key,\n      s3_path: filePath,\n      product_code: productCode,\n      client_uuid: clientUuid,\n      cache_key: cacheKey,\n      index: i\n    }\n  });\n}\n\nconsole.log(`Created ${items.length} items for processing`);\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3392,
        928
      ],
      "id": "87f76954-add4-40a0-b271-41852900465e",
      "name": "Process Media Files (Create)"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $json.cache_key }}",
        "keyType": "string",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3616,
        208
      ],
      "id": "8bcc74b8-48ce-482b-84f8-683c85d841b5",
      "name": "Get Image Cache (Update)",
      "credentials": {
        "redis": {
          "id": "v44u1cVu0DFuOlru",
          "name": "Redis account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $json.cache_key }}",
        "keyType": "string",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3616,
        928
      ],
      "id": "d27a974c-7a09-4d75-9d30-5744571776d9",
      "name": "Get Image Cache (Create)",
      "credentials": {
        "redis": {
          "id": "v44u1cVu0DFuOlru",
          "name": "Redis account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Process ALL items from Redis and Process Media Files\nconst inputItems = $input.all(); // Items from Redis with cache data\nconst allProcessedItems = $('Process Media Files (Update)').all(); // Original file data\n\nconsole.log(`[Check Cache UPDATE] ======================================`);\nconsole.log(`[Check Cache UPDATE] Processing ${inputItems.length} items`);\nconsole.log(`[Check Cache UPDATE] Total files in Process Media Files: ${allProcessedItems.length}`);\n\nconst outputItems = [];\nconst validImageExtensions = ['jpg', 'jpeg', 'png', 'gif', 'webp'];\n\n// Build list of filenames from webhook (source of truth)\nconst webhookFilenames = new Set();\nfor (const item of allProcessedItems) {\n  const filename = item.json.filename;\n  const fileExtension = filename ? filename.split('.').pop().toLowerCase() : '';\n  if (validImageExtensions.includes(fileExtension)) {\n    webhookFilenames.add(filename);\n  }\n}\n\nconsole.log(`[Check Cache UPDATE] Webhook has ${webhookFilenames.size} valid images: ${Array.from(webhookFilenames).join(', ')}`);\n\n// Get existing cache and clean it\nlet cacheData = null;\nlet cleanedCache = {};\n\nif (inputItems.length > 0) {\n  const cacheDataRaw = inputItems[0].json;\n  \n  // Parse cache data\n  if (cacheDataRaw && typeof cacheDataRaw === 'string') {\n    try {\n      cacheData = JSON.parse(cacheDataRaw);\n    } catch (e) {\n      console.log(`[Check Cache UPDATE] Cache parse error: ${e.message}`);\n    }\n  } else if (cacheDataRaw && typeof cacheDataRaw === 'object') {\n    if (cacheDataRaw.propertyName && typeof cacheDataRaw.propertyName === 'string') {\n      try {\n        cacheData = JSON.parse(cacheDataRaw.propertyName);\n      } catch (e) {\n        console.log(`[Check Cache UPDATE] Cache propertyName parse error: ${e.message}`);\n      }\n    } else {\n      cacheData = cacheDataRaw;\n    }\n  }\n  \n  // Clean cache: only keep images that are in webhook list\n  if (cacheData && typeof cacheData === 'object') {\n    for (const [filename, pictureId] of Object.entries(cacheData)) {\n      if (webhookFilenames.has(filename)) {\n        cleanedCache[filename] = pictureId;\n        console.log(`[Check Cache UPDATE] Keeping cached image: ${filename} = ${pictureId}`);\n      } else {\n        console.log(`[Check Cache UPDATE] Removing from cache (not in webhook): ${filename} = ${pictureId}`);\n      }\n    }\n  }\n}\n\nconsole.log(`[Check Cache UPDATE] Cleaned cache has ${Object.keys(cleanedCache).length} images`);\n\n// Process each item from webhook\nfor (let i = 0; i < allProcessedItems.length; i++) {\n  const originalData = allProcessedItems[i].json;\n  const filename = originalData.filename;\n  \n  // Filter: Only process valid image files\n  const fileExtension = filename ? filename.split('.').pop().toLowerCase() : '';\n  if (!validImageExtensions.includes(fileExtension)) {\n    console.log(`[Check Cache UPDATE] Item ${i}: ${filename} - SKIPPED (invalid format: ${fileExtension})`);\n    console.log(`[Check Cache UPDATE]   Valid formats: ${validImageExtensions.join(', ')}`);\n    continue; // Skip non-image files\n  }\n  \n  console.log(`[Check Cache UPDATE] Item ${i}: ${filename} - Valid image`);\n  \n  const pictureId = cleanedCache[filename] || null;\n  \n  console.log(`[Check Cache UPDATE]   Result: PictureID=${pictureId}, InCache=${!!pictureId}`);\n  \n  // Add item to output with cleaned cache\n  outputItems.push({\n    json: {\n      filename: originalData.filename,\n      s3_key: originalData.s3_key,\n      s3_path: originalData.s3_path,\n      product_code: originalData.product_code,\n      client_uuid: originalData.client_uuid,\n      cache_key: originalData.cache_key,\n      index: originalData.index,\n      image_cache: cleanedCache,\n      picture_id: pictureId,\n      in_cache: !!pictureId\n    }\n  });\n}\n\nconsole.log(`[Check Cache UPDATE] Returning ${outputItems.length} items`);\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3840,
        208
      ],
      "id": "bef103ac-8be5-4c26-bef9-4e5e11eced3f",
      "name": "Check Cache (Update)"
    },
    {
      "parameters": {
        "jsCode": "// Process ALL items from Redis and Process Media Files\nconst inputItems = $input.all(); // Items from Redis with cache data\nconst allProcessedItems = $('Process Media Files (Create)').all(); // Original file data\n\nconsole.log(`[Check Cache CREATE] ======================================`);\nconsole.log(`[Check Cache CREATE] Processing ${inputItems.length} items`);\nconsole.log(`[Check Cache CREATE] Total files in Process Media Files: ${allProcessedItems.length}`);\n\nconst outputItems = [];\nconst validImageExtensions = ['jpg', 'jpeg', 'png', 'gif', 'webp'];\n\n// Build list of filenames from webhook (source of truth)\nconst webhookFilenames = new Set();\nfor (const item of allProcessedItems) {\n  const filename = item.json.filename;\n  const fileExtension = filename ? filename.split('.').pop().toLowerCase() : '';\n  if (validImageExtensions.includes(fileExtension)) {\n    webhookFilenames.add(filename);\n  }\n}\n\nconsole.log(`[Check Cache CREATE] Webhook has ${webhookFilenames.size} valid images: ${Array.from(webhookFilenames).join(', ')}`);\n\n// Get existing cache and clean it\nlet cacheData = null;\nlet cleanedCache = {};\n\nif (inputItems.length > 0) {\n  const cacheDataRaw = inputItems[0].json;\n  \n  // Parse cache data\n  if (cacheDataRaw && typeof cacheDataRaw === 'string') {\n    try {\n      cacheData = JSON.parse(cacheDataRaw);\n    } catch (e) {\n      console.log(`[Check Cache CREATE] Cache parse error: ${e.message}`);\n    }\n  } else if (cacheDataRaw && typeof cacheDataRaw === 'object') {\n    if (cacheDataRaw.propertyName && typeof cacheDataRaw.propertyName === 'string') {\n      try {\n        cacheData = JSON.parse(cacheDataRaw.propertyName);\n      } catch (e) {\n        console.log(`[Check Cache CREATE] Cache propertyName parse error: ${e.message}`);\n      }\n    } else {\n      cacheData = cacheDataRaw;\n    }\n  }\n  \n  // Clean cache: only keep images that are in webhook list\n  if (cacheData && typeof cacheData === 'object') {\n    for (const [filename, pictureId] of Object.entries(cacheData)) {\n      if (webhookFilenames.has(filename)) {\n        cleanedCache[filename] = pictureId;\n        console.log(`[Check Cache CREATE] Keeping cached image: ${filename} = ${pictureId}`);\n      } else {\n        console.log(`[Check Cache CREATE] Removing from cache (not in webhook): ${filename} = ${pictureId}`);\n      }\n    }\n  }\n}\n\nconsole.log(`[Check Cache CREATE] Cleaned cache has ${Object.keys(cleanedCache).length} images`);\n\n// Process each item from webhook\nfor (let i = 0; i < allProcessedItems.length; i++) {\n  const originalData = allProcessedItems[i].json;\n  const filename = originalData.filename;\n  \n  // Filter: Only process valid image files\n  const fileExtension = filename ? filename.split('.').pop().toLowerCase() : '';\n  if (!validImageExtensions.includes(fileExtension)) {\n    console.log(`[Check Cache CREATE] Item ${i}: ${filename} - SKIPPED (invalid format: ${fileExtension})`);\n    console.log(`[Check Cache CREATE]   Valid formats: ${validImageExtensions.join(', ')}`);\n    continue; // Skip non-image files\n  }\n  \n  console.log(`[Check Cache CREATE] Item ${i}: ${filename} - Valid image`);\n  \n  const pictureId = cleanedCache[filename] || null;\n  \n  console.log(`[Check Cache CREATE]   Result: PictureID=${pictureId}, InCache=${!!pictureId}`);\n  \n  // Add item to output with cleaned cache\n  outputItems.push({\n    json: {\n      filename: originalData.filename,\n      s3_key: originalData.s3_key,\n      s3_path: originalData.s3_path,\n      product_code: originalData.product_code,\n      client_uuid: originalData.client_uuid,\n      cache_key: originalData.cache_key,\n      index: originalData.index,\n      image_cache: cleanedCache,\n      picture_id: pictureId,\n      in_cache: !!pictureId\n    }\n  });\n}\n\nconsole.log(`[Check Cache CREATE] Returning ${outputItems.length} items`);\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3840,
        928
      ],
      "id": "98f57dd1-5e82-4057-a22d-2d4be2c28e18",
      "name": "Check Cache (Create)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "not-in-cache",
              "leftValue": "={{ $json.in_cache }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "77fda44f-6dc7-4bd4-90a4-d28e0bc9433a",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4064,
        208
      ],
      "id": "9e6052f5-d10a-4c93-bd99-6d33d3f8dfcf",
      "name": "If Not Cached (Update)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "not-in-cache",
              "leftValue": "={{ $json.in_cache }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4064,
        928
      ],
      "id": "1d172450-f64a-408e-a171-3484a5b5a98c",
      "name": "If Not Cached (Create)"
    },
    {
      "parameters": {
        "bucketName": "sp-space-1",
        "fileKey": "={{ $json.s3_key }}"
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        4288,
        128
      ],
      "id": "f43389c5-3c7c-4a68-a105-1eaf0a745e52",
      "name": "Download from S3 (Update)",
      "credentials": {
        "s3": {
          "id": "aT1jKU8wz2TqB6Sp",
          "name": "S3 account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "bucketName": "sp-space-1",
        "fileKey": "={{ $json.s3_key }}"
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        4288,
        832
      ],
      "id": "86ece96a-b122-4535-9b6a-5c93138c849c",
      "name": "Download from S3 (Create)",
      "credentials": {
        "s3": {
          "id": "aT1jKU8wz2TqB6Sp",
          "name": "S3 account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mercadolibre.com/pictures/items/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Token for Publishing').first().json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4512,
        64
      ],
      "id": "05bca84b-2843-4069-9dbf-a84859bb2dd0",
      "name": "Upload to ML (Update)",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mercadolibre.com/pictures/items/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Token for Publishing').first().json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4512,
        896
      ],
      "id": "1bdd2cbd-e24b-48d1-8462-ad11ad135764",
      "name": "Upload to ML (Create)",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Extract picture ID from ML upload response - Process ALL items\nconst uploadedItems = $input.all(); // All items from Upload to ML\nconst downloadItems = $('Download from S3 (Update)').all(); // Original items with metadata\n\nconsole.log(`[Extract Picture ID UPDATE] Processing ${uploadedItems.length} uploaded items`);\n\nconst outputItems = [];\n\nfor (let i = 0; i < uploadedItems.length; i++) {\n  const uploadResponse = uploadedItems[i].json;\n  const pictureId = uploadResponse.id;\n  \n  // Try to match with download item by index or pairedItem\n  let filename = '';\n  let cache_key = '';\n  \n  // Method 1: Use pairedItem if available\n  if (uploadedItems[i].pairedItem !== undefined) {\n    const pairedIndex = uploadedItems[i].pairedItem;\n    if (downloadItems && downloadItems[pairedIndex]) {\n      filename = downloadItems[pairedIndex].json.filename || '';\n      cache_key = downloadItems[pairedIndex].json.cache_key || '';\n    }\n  }\n  \n  // Method 2: Match by index\n  if (!filename && downloadItems && downloadItems[i]) {\n    filename = downloadItems[i].json.filename || '';\n    cache_key = downloadItems[i].json.cache_key || '';\n  }\n  \n  // Method 3: Try to get from binary filename\n  if (!filename && uploadedItems[i].binary && uploadedItems[i].binary.data) {\n    filename = uploadedItems[i].binary.data.fileName || '';\n  }\n  \n  console.log(`[Extract Picture ID UPDATE] Item ${i}: PictureID=${pictureId}, Filename=${filename}`);\n  \n  outputItems.push({\n    json: {\n      picture_id: pictureId,\n      filename: filename,\n      cache_key: cache_key\n    }\n  });\n}\n\nconsole.log(`[Extract Picture ID UPDATE] Returning ${outputItems.length} items`);\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4736,
        -16
      ],
      "id": "757e3347-3567-41e5-ab2d-d522f8a3ca8e",
      "name": "Extract Picture ID (Update)"
    },
    {
      "parameters": {
        "jsCode": "// Extract picture ID from ML upload response - Process ALL items\nconst uploadedItems = $input.all(); // All items from Upload to ML\nconst downloadItems = $('Download from S3 (Create)').all(); // Original items with metadata\n\nconsole.log(`[Extract Picture ID CREATE] Processing ${uploadedItems.length} uploaded items`);\n\nconst outputItems = [];\n\nfor (let i = 0; i < uploadedItems.length; i++) {\n  const uploadResponse = uploadedItems[i].json;\n  const pictureId = uploadResponse.id;\n  \n  // Try to match with download item by index or pairedItem\n  let filename = '';\n  let cache_key = '';\n  \n  // Method 1: Use pairedItem if available\n  if (uploadedItems[i].pairedItem !== undefined) {\n    const pairedIndex = uploadedItems[i].pairedItem;\n    if (downloadItems && downloadItems[pairedIndex]) {\n      filename = downloadItems[pairedIndex].json.filename || '';\n      cache_key = downloadItems[pairedIndex].json.cache_key || '';\n    }\n  }\n  \n  // Method 2: Match by index\n  if (!filename && downloadItems && downloadItems[i]) {\n    filename = downloadItems[i].json.filename || '';\n    cache_key = downloadItems[i].json.cache_key || '';\n  }\n  \n  // Method 3: Try to get from binary filename\n  if (!filename && uploadedItems[i].binary && uploadedItems[i].binary.data) {\n    filename = uploadedItems[i].binary.data.fileName || '';\n  }\n  \n  console.log(`[Extract Picture ID CREATE] Item ${i}: PictureID=${pictureId}, Filename=${filename}`);\n  \n  outputItems.push({\n    json: {\n      picture_id: pictureId,\n      filename: filename,\n      cache_key: cache_key\n    }\n  });\n}\n\nconsole.log(`[Extract Picture ID CREATE] Returning ${outputItems.length} items`);\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4736,
        944
      ],
      "id": "c5d95239-bc26-4ed3-95cc-141469e6af2d",
      "name": "Extract Picture ID (Create)"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        5184,
        -16
      ],
      "id": "bd8c273e-a97f-4994-b0da-c86a1c58af3f",
      "name": "Aggregate Pictures (Update)"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        5184,
        1072
      ],
      "id": "540e14ba-9d14-49a1-853f-8ce03add844c",
      "name": "Aggregate Pictures (Create)"
    },
    {
      "parameters": {
        "jsCode": "// Build cache and picture IDs array - Handle both new uploads and all-cached scenarios\nconst items = $input.all();\n\nconsole.log(`[Build Cache UPDATE] ======================================`);\nconsole.log(`[Build Cache UPDATE] Received ${items.length} input items`);\n\nif (!items || items.length === 0) {\n  console.log('[Build Cache UPDATE] ERROR: No items received');\n  return [{\n    json: {\n      cache_key: '',\n      pictures: {},\n      picture_ids: [],\n      debug_error: 'No items received'\n    }\n  }];\n}\n\n// Detect source: Aggregate (has \"data\" field) or If Not Cached FALSE (direct items with picture_id)\nconst firstItem = items[0].json;\nconst isFromAggregate = firstItem.data !== undefined;\n\nconsole.log(`[Build Cache UPDATE] Source: ${isFromAggregate ? 'Aggregate (new uploads)' : 'If Not Cached FALSE (all cached)'}`);\n\n// Get existing cache from Check Cache node\nconst checkCacheItems = $('Check Cache (Update)').all();\nlet existingCache = {};\nlet cacheKey = '';\n\nif (checkCacheItems && checkCacheItems.length > 0) {\n  existingCache = checkCacheItems[0].json.image_cache || {};\n  cacheKey = checkCacheItems[0].json.cache_key || '';\n  console.log(`[Build Cache UPDATE] Existing cache: ${JSON.stringify(existingCache)}`);\n}\n\nlet pictures = {};\nlet newUploadsCount = 0;\n\nif (isFromAggregate) {\n  // Case 1: New uploads from Aggregate - combine with existing cache\n  const dataArray = firstItem.data || [];\n  newUploadsCount = dataArray.length;\n  console.log(`[Build Cache UPDATE] Processing ${newUploadsCount} new uploads`);\n  \n  // Start with existing cache\n  pictures = { ...existingCache };\n  \n  // Add new uploads\n  for (const item of dataArray) {\n    if (item.picture_id && item.filename) {\n      pictures[item.filename] = item.picture_id;\n      console.log(`[Build Cache UPDATE] Added NEW: ${item.filename} = ${item.picture_id}`);\n    }\n    if (!cacheKey && item.cache_key) {\n      cacheKey = item.cache_key;\n    }\n  }\n} else {\n  // Case 2: All items are cached - use existing cache directly\n  console.log(`[Build Cache UPDATE] All items are cached, using existing cache`);\n  pictures = { ...existingCache };\n  \n  // Get cache_key from items\n  if (!cacheKey && items[0].json.cache_key) {\n    cacheKey = items[0].json.cache_key;\n  }\n}\n\n// Build picture_ids array from final pictures\nconst pictureIds = [];\nfor (const [filename, pictureId] of Object.entries(pictures)) {\n  if (pictureId) {\n    pictureIds.push(pictureId);\n    console.log(`[Build Cache UPDATE] Final picture: ${filename} = ${pictureId}`);\n  }\n}\n\nconsole.log(`[Build Cache UPDATE] RESULT: ${pictureIds.length} pictures total (${newUploadsCount} new uploads)`);\n\nreturn [{\n  json: {\n    cache_key: cacheKey,\n    pictures: pictures,\n    picture_ids: pictureIds,\n    debug_new_uploads: newUploadsCount,\n    debug_total_pictures: pictureIds.length,\n    debug_source: isFromAggregate ? 'aggregate' : 'if_not_cached'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5408,
        -16
      ],
      "id": "976a3f82-2504-4190-93db-08244e5319f4",
      "name": "Build Cache (Update)"
    },
    {
      "parameters": {
        "jsCode": "// Build cache and picture IDs array - Handle both new uploads and all-cached scenarios\nconst items = $input.all();\n\nconsole.log(`[Build Cache CREATE] ======================================`);\nconsole.log(`[Build Cache CREATE] Received ${items.length} input items`);\n\nif (!items || items.length === 0) {\n  console.log('[Build Cache CREATE] ERROR: No items received');\n  return [{\n    json: {\n      cache_key: '',\n      pictures: {},\n      picture_ids: [],\n      debug_error: 'No items received'\n    }\n  }];\n}\n\n// Detect source: Aggregate (has \"data\" field) or If Not Cached FALSE (direct items with picture_id)\nconst firstItem = items[0].json;\nconst isFromAggregate = firstItem.data !== undefined;\n\nconsole.log(`[Build Cache CREATE] Source: ${isFromAggregate ? 'Aggregate (new uploads)' : 'If Not Cached FALSE (all cached)'}`);\n\n// Get existing cache from Check Cache node\nconst checkCacheItems = $('Check Cache (Create)').all();\nlet existingCache = {};\nlet cacheKey = '';\n\nif (checkCacheItems && checkCacheItems.length > 0) {\n  existingCache = checkCacheItems[0].json.image_cache || {};\n  cacheKey = checkCacheItems[0].json.cache_key || '';\n  console.log(`[Build Cache CREATE] Existing cache: ${JSON.stringify(existingCache)}`);\n}\n\nlet pictures = {};\nlet newUploadsCount = 0;\n\nif (isFromAggregate) {\n  // Case 1: New uploads from Aggregate - combine with existing cache\n  const dataArray = firstItem.data || [];\n  newUploadsCount = dataArray.length;\n  console.log(`[Build Cache CREATE] Processing ${newUploadsCount} new uploads`);\n  \n  // Start with existing cache\n  pictures = { ...existingCache };\n  \n  // Add new uploads\n  for (const item of dataArray) {\n    if (item.picture_id && item.filename) {\n      pictures[item.filename] = item.picture_id;\n      console.log(`[Build Cache CREATE] Added NEW: ${item.filename} = ${item.picture_id}`);\n    }\n    if (!cacheKey && item.cache_key) {\n      cacheKey = item.cache_key;\n    }\n  }\n} else {\n  // Case 2: All items are cached - use existing cache directly\n  console.log(`[Build Cache CREATE] All items are cached, using existing cache`);\n  pictures = { ...existingCache };\n  \n  // Get cache_key from items\n  if (!cacheKey && items[0].json.cache_key) {\n    cacheKey = items[0].json.cache_key;\n  }\n}\n\n// Build picture_ids array from final pictures\nconst pictureIds = [];\nfor (const [filename, pictureId] of Object.entries(pictures)) {\n  if (pictureId) {\n    pictureIds.push(pictureId);\n    console.log(`[Build Cache CREATE] Final picture: ${filename} = ${pictureId}`);\n  }\n}\n\nconsole.log(`[Build Cache CREATE] RESULT: ${pictureIds.length} pictures total (${newUploadsCount} new uploads)`);\n\nreturn [{\n  json: {\n    cache_key: cacheKey,\n    pictures: pictures,\n    picture_ids: pictureIds,\n    debug_new_uploads: newUploadsCount,\n    debug_total_pictures: pictureIds.length,\n    debug_source: isFromAggregate ? 'aggregate' : 'if_not_cached'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5408,
        1072
      ],
      "id": "b2feb145-8d7f-4c25-b046-43d3f049930c",
      "name": "Build Cache (Create)",
      "notes": "References Check Cache (Create)"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.cache_key }}",
        "value": "={{ JSON.stringify($json.pictures) }}",
        "keyType": "string"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        5632,
        -16
      ],
      "id": "c29bfbbd-d619-4fc3-86b5-ccbe00e80280",
      "name": "Save Image Cache (Update)",
      "credentials": {
        "redis": {
          "id": "v44u1cVu0DFuOlru",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.cache_key }}",
        "value": "={{ JSON.stringify($json.pictures) }}",
        "keyType": "string"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        5632,
        1072
      ],
      "id": "8a534a70-760c-4f6b-a83d-cf7c5407dedc",
      "name": "Save Image Cache (Create)",
      "credentials": {
        "redis": {
          "id": "v44u1cVu0DFuOlru",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare body for UPDATE\nconst webhookBody = $('Webhook (PublishCallbacks)').first().json.body;\nconst document = webhookBody.document;\n// Get picture_ids from Build Cache node\nconst pictureData = $('Build Cache (Update)').first().json;\nconst publishCode = $('Resolve Publish Code').first().json.publish_code;\n\n// Map picture IDs to MercadoLibre format\nconst pictures = pictureData.picture_ids && pictureData.picture_ids.length > 0\n  ? pictureData.picture_ids.map(id => ({ id: id }))\n  : [];\n\n// Determine listing_type_id from M_Product.SP034_ML_PublishType\n// Java sends it as 'publish_type'. Values are ML format directly: bronze, free, gold, etc.\n\n// VALIDACIÓN DE ORIGINAL_PRICE: Si es null, undefined, 0 o vacío, se asigna null\nconst validatedOriginalPrice = (document.original_price === null || document.original_price === undefined || document.original_price === 0 || document.original_price === '') \n  ? null \n  : document.original_price;\n\nconst updateData = {\n  price: document.price,\n  available_quantity: document.available_quantity,\n  pictures: pictures,\n  status: 'active',\n  currency_id: document.currency_code\n};\n\n// TODO: Only when created\n// // Only include listing_type_id if explicitly provided (upgrading plan)\n// const publishType = webhookBody.publish_type || document.listing_type_id || null;\n// if (publishType) {\n//  updateData.listing_type_id = publishType;\n// }\n\nif (document.code) {\n  updateData.attributes = [{ id: 'SELLER_SKU', value_name: String(document.code) }];\n}\n\nreturn [{\n  json: {\n    body: updateData,\n    publish_code: publishCode\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5856,
        -16
      ],
      "id": "42918b38-69d0-49a1-bdaf-c478801f6570",
      "name": "Prepare Update Body"
    },
    {
      "parameters": {
        "jsCode": "// Prepare body for CREATE\nconst webhookBody = $('Webhook (PublishCallbacks)').first().json.body;\nconst document = webhookBody.document;\n// Get picture_ids from Build Cache node (may not have run if no media)\nlet pictureData = { picture_ids: [] };\ntry { pictureData = $('Build Cache (Create)').first().json; } catch (e) {}\n\n// Map picture IDs to MercadoLibre format\nconst pictures = pictureData.picture_ids && pictureData.picture_ids.length > 0\n  ? pictureData.picture_ids.map(id => ({ id: id }))\n  : [];\n\n// Determine condition\nlet condition = 'new';\nconst rawCondition = webhookBody.item_condition;\nif (rawCondition) {\n  const c = rawCondition.toLowerCase();\n  if (c === 'new' || c === 'n') condition = 'new';\n  else if (c === 'used' || c === 'u') condition = 'used';\n  else if (c === 'not_specified' || c === 'ns') condition = 'not_specified';\n  else condition = rawCondition;\n}\n\n// Determine listing_type_id\nconst publishType = webhookBody.publish_type || document.listing_type_id || 'free';\nconst listingTypeId = publishType === '' ? 'free' : publishType;\n\n// Filter attributes\nconst attributes = document.attributes != null ? document.attributes\n  .filter(attr => attr.id !== 'ITEM_CONDITION' && (attr.value || attr.name))\n  .map(attribute => ({\n    id: attribute.id,\n    value_name: (attribute.name != null ? attribute.name : attribute.value)\n  })) : [];\n\n// GTIN: required (conditional) for many MELI categories. Map from the product barcode/EAN.\nif (document.barcode && String(document.barcode).trim() !== '' && !attributes.some(a => a.id === 'GTIN')) {\n  attributes.push({ id: 'GTIN', value_name: String(document.barcode).trim() });\n}\n\n// Determine if family_name is required via technical_specs/input\n// If family_name appears in any group's attributes, it's required\nlet useFamilyName = false;\ntry {\n  // Catalog categories (settings.catalog_domain present) require family_name instead of title.\n  // family_name is NOT listed in technical_specs/input, so detect it via the category's catalog_domain.\n  const categoryInfo = $('Get Category Info (Create)').first().json;\n  useFamilyName = !!(categoryInfo && categoryInfo.settings && categoryInfo.settings.catalog_domain);\n} catch (e) {}\n\n// VALIDACIÓN DE ORIGINAL_PRICE: Si es null, undefined, 0 o vacío, se asigna null\nconst validatedOriginalPrice = (document.original_price === null || document.original_price === undefined || document.original_price === 0 || document.original_price === '') \n  ? null \n  : document.original_price;\n\nconst transformedData = {\n  category_id: document.category_id,\n  price: document.price,\n  currency_id: document.currency_code,\n  available_quantity: document.available_quantity,\n  buying_mode: document.buying_mode,\n  listing_type_id: listingTypeId,\n  condition: condition,\n  attributes: attributes,\n  sale_terms: [\n    { \"id\": \"WARRANTY_TYPE\", \"value_name\": \"Garantía del vendedor\" },\n    { \"id\": \"WARRANTY_TIME\", \"value_name\": \"90 días\" }\n  ],\n  pictures: pictures\n};\n\nif (useFamilyName) {\n  transformedData.family_name = document.title;\n} else {\n  transformedData.title = document.title;\n}\n\nreturn [{ json: { body: transformedData } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5856,
        1168
      ],
      "id": "c486cc3b-e685-4fb1-b7e2-6387818afd17",
      "name": "Prepare Create Body"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.mercadolibre.com/items/{{ $json.publish_code }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Token for Publishing').first().json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6080,
        -16
      ],
      "id": "009e1ae0-02da-4c51-8305-455fa1f2ef63",
      "name": "Update Product",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mercadolibre.com/items",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Token for Publishing').first().json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6080,
        1168
      ],
      "id": "adfbe728-493d-4217-a1aa-10a5521c9e9f",
      "name": "Create Product",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Success Response Handler\nconst webhookData = $('Webhook (PublishCallbacks)').first().json.body;\n\n// The node immediately upstream may now be a description call (POST/PUT /items/{id}/description),\n// whose response lacks id/permalink/status. Resolve the item response by explicit node reference.\nfunction tryNode(name) { try { return $(name).first().json; } catch (e) { return null; } }\nconst createResp = tryNode('Create Product');\nconst updateResp = tryNode('Update Product');\nconst statusResp = tryNode('Change Publush Status');\nconst productResponse =\n  (createResp && createResp.id) ? createResp :\n  (updateResp && updateResp.id) ? updateResp :\n  (statusResp && statusResp.id) ? statusResp :\n  $input.first().json;\n\n// Extract publication data from MercadoLibre response\nconst publicationId = productResponse.id || null;\nconst publicationUrl = productResponse.permalink || null;\nconst productCode = webhookData?.document?.code || \"unknown\";\nconst mlStatus = productResponse.status || null; // Extract status from ML response\n\nreturn [{\n  json: {\n    success: true,\n    publication_id: publicationId,\n    publication_url: publicationUrl,\n    product_code: productCode,\n    new_status: mlStatus, // Include status for Java backend\n    message: mlStatus ? `Product status changed to ${mlStatus} successfully` : \"Product published successfully to MercadoLibre\",\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6976,
        560
      ],
      "id": "d6eca234-7459-4cf7-aa02-2fc73c064681",
      "name": "Success Response"
    },
    {
      "parameters": {
        "jsCode": "// Error Handler - Formats error response for backend\nconst webhookData = $('Webhook (PublishCallbacks)').first().json.body;\n\n// In n8n continueErrorOutput, error is merged into item.json alongside the original data.\n// $input.first().json.error contains the AxiosError (message, status, etc.)\n// $input.item.error contains n8n-level error metadata (may be undefined in some versions)\nconst jsonError = $input.first().json?.error || null;\nconst itemError = $input.item?.error || null;\nconst error = (itemError && Object.keys(itemError).length > 0) ? itemError : (jsonError || {});\n\nlet errorMessage = 'Unknown error occurred';\nlet httpResponseBody = null;\n\n// Strategy 1: n8n item-level error has context.responseBody (direct ML response)\nif (itemError && itemError.context && itemError.context.responseBody) {\n  try {\n    httpResponseBody = JSON.parse(itemError.context.responseBody);\n  } catch(e) {\n    httpResponseBody = { raw: itemError.context.responseBody };\n  }\n}\n\n// Strategy 2: Parse the HTTP error message string \"400 - \\\"{...}\\\"\" from jsonError\nif (!httpResponseBody && jsonError && jsonError.message) {\n  const match = jsonError.message.match(/^\\d+ - \"(.+)\"$/s);\n  if (match) {\n    try {\n      httpResponseBody = JSON.parse(match[1].replace(/\\\\\"/g, '\"'));\n    } catch(e) {\n      httpResponseBody = { raw: match[1] };\n    }\n  } else {\n    errorMessage = jsonError.message;\n  }\n}\n\n// Extract human-readable message from ML response\nif (httpResponseBody) {\n  if (httpResponseBody.cause && httpResponseBody.cause.length > 0) {\n    const errors = httpResponseBody.cause.filter(c => c.type === 'error');\n    if (errors.length > 0) {\n      errorMessage = 'MercadoLibre: ' + errors.map(c => c.message || c.code).join('; ');\n    } else if (httpResponseBody.message) {\n      errorMessage = 'MercadoLibre: ' + httpResponseBody.message;\n    }\n  } else if (httpResponseBody.message) {\n    errorMessage = 'MercadoLibre: ' + httpResponseBody.message;\n  } else if (httpResponseBody.error) {\n    errorMessage = 'MercadoLibre: ' + httpResponseBody.error;\n  }\n} else if (error.message) {\n  errorMessage = error.message;\n}\n\nreturn [{\n  json: {\n    success: false,\n    error: `Error in workflow: ${errorMessage}`,\n    error_details: {\n      message: errorMessage,\n      product_code: webhookData?.document?.code || 'unknown',\n      timestamp: new Date().toISOString(),\n      ml_response: httpResponseBody,\n      http_status: jsonError?.status || null\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6304,
        272
      ],
      "id": "cd180879-f5c5-4fa0-962e-3180a543ac7f",
      "name": "Error Response"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $workflow.id + '_' + $('Webhook (PublishCallbacks)').first().json.body.document.client + '-' + $('Webhook (PublishCallbacks)').first().json.body.document.code }}",
        "value": "={{ $json.id }}",
        "keyType": "string"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        6304,
        1216
      ],
      "id": "21f875e1-d026-4380-99ab-323685edc421",
      "name": "Set Publish ID",
      "credentials": {
        "redis": {
          "id": "v44u1cVu0DFuOlru",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0e9ea86c-4d03-4a94-8eec-b2e306f9cb92",
              "leftValue": "={{ $('Webhook (PublishCallbacks)').item.json.body.attributes.sp034_publish_status }}",
              "rightValue": "=P",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3168,
        272
      ],
      "id": "eff6314e-56ca-4cb2-9bb0-2fd8b701a413",
      "name": "If Publush / Pause / Close",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "// Prepare body for UPDATE\nconst document = $('Webhook (PublishCallbacks)').first().json.body.document;\nconst publishCode = $('Resolve Publish Code').first().json.publish_code;\n\n// change status\nlet publishStatus = '';\nif (document.publish_status == 'O') {\n  publishStatus = 'paused';\n} else if (document.publish_status == 'C') {\n  publishStatus = 'closed';\n}\n\nconst updateData = {\n  status: publishStatus\n};\n\nreturn [{\n  json: {\n    body: updateData,\n    publish_code: publishCode\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6528,
        592
      ],
      "id": "42f3ed89-81e5-4458-984e-f1cef6290fad",
      "name": "Prepare Paused/Close Body"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.mercadolibre.com/items/{{ $json.publish_code }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Token for Publishing').first().json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6752,
        592
      ],
      "id": "4317e163-cc6f-4969-8873-cc9d0a4a4784",
      "name": "Change Publush Status"
    },
    {
      "parameters": {
        "jsCode": "// Transform cached items to Extract Picture ID format\nconst items = $input.all();\n\nconsole.log(`[Extract Cached Picture ID UPDATE] Processing ${items.length} cached items`);\n\nconst outputItems = [];\n\nfor (const item of items) {\n    const json = item.json;\n    \n    outputItems.push({\n        json: {\n            picture_id: json.picture_id,\n            filename: json.filename,\n            cache_key: json.cache_key\n        }\n    });\n    \n    console.log(`[Extract Cached Picture ID UPDATE] ${json.filename} → ${json.picture_id}`);\n}\n\nconsole.log(`[Extract Cached Picture ID UPDATE] Returning ${outputItems.length} items`);\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4736,
        448
      ],
      "id": "d2e329a0-30b1-4ca9-9e26-0b7ca8a75712",
      "name": "Extract Cached Picture ID (Update)"
    },
    {
      "parameters": {
        "jsCode": "// Transform cached items to Extract Picture ID format\nconst items = $input.all();\n\nconsole.log(`[Extract Cached Picture ID CREATE] Processing ${items.length} cached items`);\n\nconst outputItems = [];\n\nfor (const item of items) {\n    const json = item.json;\n    \n    outputItems.push({\n        json: {\n            picture_id: json.picture_id,\n            filename: json.filename,\n            cache_key: json.cache_key\n        }\n    });\n    \n    console.log(`[Extract Cached Picture ID CREATE] ${json.filename} → ${json.picture_id}`);\n}\n\nconsole.log(`[Extract Cached Picture ID CREATE] Returning ${outputItems.length} items`);\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4736,
        1136
      ],
      "id": "e9e3bf7f-79c1-4b2e-bd33-8265d99c4836",
      "name": "Extract Cached Picture ID (Create)"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        4960,
        -16
      ],
      "id": "38e65b75-1757-439a-8ce0-0e0f58241bdd",
      "name": "Merge Pictures (Update)"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        4960,
        1072
      ],
      "id": "f034dc55-0d41-45f2-87f9-99423543fe73",
      "name": "Merge Pictures (Create)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-media",
              "leftValue": "={{ ($('Webhook (PublishCallbacks)').first().json.body.media ?? []).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3168,
        1024
      ],
      "id": "1279b1b4-3222-4596-bf86-846d75cdb479",
      "name": "IF Has Media (Create)"
    },
    {
      "parameters": {
        "jsCode": "// No media files: pass through with empty pictures so Create Product can run\nreturn [{ json: { no_media: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5632,
        1312
      ],
      "id": "ba05cc27-3d4d-4ac6-98f9-8d9fb597c441",
      "name": "No Pictures (Create)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-description-update",
              "leftValue": "={{ $('Webhook (PublishCallbacks)').first().json.body.document.description || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6528,
        -64
      ],
      "id": "76580e51-125a-4679-af92-39a6be9880ce",
      "name": "If Has Description (Update)"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.mercadolibre.com/items/{{ $('Resolve Publish Code').first().json.publish_code }}/description",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Token for Publishing').first().json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"plain_text\": $('Webhook (PublishCallbacks)').first().json.body.document.description } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6752,
        -128
      ],
      "id": "ed547050-dc6c-46eb-803a-725f5e2c51da",
      "name": "Update Description (Update)",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-description-create",
              "leftValue": "={{ $('Webhook (PublishCallbacks)').first().json.body.document.description || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6528,
        1216
      ],
      "id": "6b490618-f9ef-4a3f-959a-be567513926d",
      "name": "If Has Description (Create)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.mercadolibre.com/items/{{ $('Create Product').first().json.id }}/description",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Token for Publishing').first().json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"plain_text\": $('Webhook (PublishCallbacks)').first().json.body.document.description } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6752,
        1280
      ],
      "id": "0e22bc16-e82e-4c31-89f3-8b466096bd24",
      "name": "Add Description (Create)",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://api.mercadolibre.com/shipment_labels?shipment_ids={{ $('Get Meli Order').item.json.shipping.id }}&response_type=pdf",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Token For Order').item.json.access_token }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "270d5eb3-ee37-4f85-ac2a-5a8aabfbfe65",
      "name": "Get Shipment Label",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2368,
        -1696
      ]
    },
    {
      "parameters": {
        "url": "=https://api.mercadolibre.com/shipments/{{ $json.shipping?.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Token For Order').item.json.access_token }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "c636f9b4-5bca-4404-92af-443e05b9e9fd",
      "name": "Get Shipment Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2352,
        -1936
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Default Values from Client').item.json.backend_url }}/v1/business/attachments/upload-url",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Tenant",
              "value": "={{ $('Set Default Values from Client').item.json.tenant }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set Default Values from Client').item.json.token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"table_name\": \"C_Order\",\n    \"record_id\": {{ $('POST Sabana /orders/import').item.json.order_id }},\n    \"file_name\": \"{{ $json.fileName }}\",\n    \"content_type\": \"{{ $json.mimeType }}\",\n    \"file_size\": {{ $json.fileSize }},\n    \"description\": \"Creado dese Meli Callback\",\n    \"title\": \"{{ $json.fileName }}\"\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "9cf79606-a8aa-4aad-a593-2af7a35b1276",
      "name": "Get Presigned-URL For Order",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3040,
        -1600
      ]
    },
    {
      "parameters": {
        "jsCode": "// 1. Obtenemos el primer ítem específicamente del nodo \"Get Meli Shipment\"\nconst item = $items(\"Get Shipment Label\")[0];\n\nif (!item || !item.binary || !item.binary.data) {\n  throw new Error(\"No se encontró el archivo binario 'data' en el nodo Get Meli Shipment\");\n}\n\nconst fileMetadata = item.binary.data;\nconst rawName = fileMetadata.fileName; \n\n// 2. Limpiamos el nombre usando tu expresión regular (RegEx)\nconst match = rawName.match(/shipment_ids=(\\d+)/);\nconst cleanName = match ? `${match[1]}.pdf` : rawName;\n\n// 3. LA SOLUCIÓN DEFINITIVA PARA EL NUEVO MOTOR BINARIO:\n// Usamos el helper oficial para clonar físicamente el archivo evitando errores circulares\nconst newBinaryData = { ...item.binary };\n\n// Modificamos el fileName dentro de los metadatos internos del binario\nif (newBinaryData.data) {\n  newBinaryData.data = {\n    ...newBinaryData.data,\n    fileName: cleanName\n  };\n}\n// Retornamos únicamente la estructura JSON básica que requiere n8n y el binario modificado\nreturn {\n  json: {\n    message: \"Archivo procesado correctamente\"\n  },\n  binary: newBinaryData\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3264,
        -1600
      ],
      "id": "1d21e4d8-7225-412f-8f96-117165a42dd4",
      "name": "Get File from Local Storage for Order"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $('Get Presigned-URL For Order').item.json.upload_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "={{ $('Convert File Metadata Info').item.json.mimeType }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "timeout": 15000
        }
      },
      "id": "3abd595b-e187-40fe-a2cf-fc7dd094474e",
      "name": "PUT File For Order",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3488,
        -1600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Default Values from Client').item.json.backend_url }}/v1/business/attachments/confirm",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Tenant",
              "value": "={{ $('Set Default Values from Client').item.json.tenant }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set Default Values from Client').item.json.token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"table_name\": \"C_Order\",\n    \"record_id\": {{ $('POST Sabana /orders/import').item.json.order_id }},\n    \"file_name\": \"{{ $('Convert File Metadata Info').item.json.fileName }}\",\n    \"content_type\": \"{{ $('Convert File Metadata Info').item.json.mimeType }}\",\n    \"file_size\": {{ $('Convert File Metadata Info').item.json.fileSize }},\n    \"description\": \"Creado dese Meli Callback\",\n    \"title\": \"{{ $('Convert File Metadata Info').item.json.fileName }}\"\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "9ef3ddba-3aca-4a69-80f4-3a12bb00e183",
      "name": "Confirm Upload For Order",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3712,
        -1600
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "0eef161c-cf6d-49b8-a8ff-ac90779a6694",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1600,
        640
      ],
      "id": "0f7794cb-2c09-49c7-8215-8dc1adf38e04",
      "name": "Webhook (PublishCallbacks)",
      "webhookId": "0eef161c-cf6d-49b8-a8ff-ac90779a6694"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-adempiere-code",
              "leftValue": "={{ $('Webhook (PublishCallbacks)').first().json.body.document.publication_code || $('Webhook (PublishCallbacks)').first().json.body.attributes.sp034_publication_code || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2496,
        640
      ],
      "id": "49e5c481-62c7-499c-b381-e760213d601f",
      "name": "If Publication Exists"
    },
    {
      "parameters": {
        "url": "=https://api.mercadolibre.com/categories/{{ $('Webhook (PublishCallbacks)').first().json.body.document.category_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Token for Publishing').first().json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2944,
        1024
      ],
      "id": "9c77ef1b-339e-4411-b556-4cbb42ec4a5a",
      "name": "Get Category Info (Create)"
    },
    {
      "parameters": {
        "url": "https://api.mercadolibre.com/users/me",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Token for Publishing').first().json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2720,
        1024
      ],
      "id": "f929ece4-a7c7-4b78-89c8-31554f2c6317",
      "name": "Get Seller Id",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Resolve the existing ML item id from ADempiere's stored publication code only.\n// If publication_code is empty the flow never reaches this node (it goes to the\n// create branch instead), so no Redis / SELLER_SKU fallback is needed here.\nlet code = '';\ntry {\n  const body = $('Webhook (PublishCallbacks)').first().json.body;\n  code = (body.document && body.document.publication_code)\n      || (body.attributes && body.attributes.sp034_publication_code) || '';\n} catch (e) {}\nreturn [{ json: { publish_code: code } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2944,
        272
      ],
      "id": "a2d0960d-e67b-4b96-b3e1-871c59f5d17a",
      "name": "Resolve Publish Code"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -800,
        -1376
      ],
      "id": "8091d126-7e5b-40a5-b1be-c9e551d6d123",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1fNbPSFPCT107L2STWMIAP8U2YtZ6k_zM3bbwtnR1LME",
          "mode": "list",
          "cachedResultName": "Clientes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fNbPSFPCT107L2STWMIAP8U2YtZ6k_zM3bbwtnR1LME/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 474439500,
          "mode": "list",
          "cachedResultName": "meli",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fNbPSFPCT107L2STWMIAP8U2YtZ6k_zM3bbwtnR1LME/edit#gid=474439500"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -576,
        -1472
      ],
      "id": "c568b696-5bc8-481c-98aa-d5ba95717cad",
      "name": "Get Client List",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KdO8EOqluuX2C5i7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.mercadolibre.com/oauth/token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "refresh_token"
            },
            {
              "name": "client_id",
              "value": "={{ $json.client_id }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $json.client_secret }}"
            },
            {
              "name": "refresh_token",
              "value": "={{ $json.refresh_token }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -128,
        -1472
      ],
      "id": "8ac9bed1-e090-4956-8b93-eed09a22b57c",
      "name": "Get Token from List"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Get Client List').item.json.client_id + '_access_token' }}",
        "value": "={{ $json.access_token }}",
        "keyType": "string"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        96,
        -1664
      ],
      "id": "4eb8bf64-c848-4a38-bca6-349203d71e7b",
      "name": "Set Meli Token",
      "credentials": {
        "redis": {
          "id": "v44u1cVu0DFuOlru",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -800,
        -1568
      ],
      "id": "77d4c9ff-c2a5-4902-9612-e654786f83a7",
      "name": "Refresh Token"
    },
    {
      "parameters": {
        "httpMethod": "=GET",
        "path": "meli",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1104,
        -2176
      ],
      "id": "8f772d86-ff9a-451a-aad6-03d84457258e",
      "name": "Connect with Meli App",
      "webhookId": "3af7948c-0c0a-4f28-9dbe-2977a2c32643"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1fNbPSFPCT107L2STWMIAP8U2YtZ6k_zM3bbwtnR1LME",
          "mode": "list",
          "cachedResultName": "Clientes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fNbPSFPCT107L2STWMIAP8U2YtZ6k_zM3bbwtnR1LME/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 474439500,
          "mode": "list",
          "cachedResultName": "meli",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fNbPSFPCT107L2STWMIAP8U2YtZ6k_zM3bbwtnR1LME/edit#gid=474439500"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "client_code",
              "lookupValue": "={{ $json.query.state }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -880,
        -2176
      ],
      "id": "256349de-0314-4f7e-b80c-0dd55b4914ac",
      "name": "Get Client List from State",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KdO8EOqluuX2C5i7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "41381793-5ae0-418c-b290-1953a74cb630",
              "leftValue": "={{ $('Get Client List').item.json.application_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        96,
        -1472
      ],
      "id": "eba683c9-08c1-4f7b-ac30-31b7775faaf7",
      "name": "Is for Set App?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "164c0311-c948-4e44-b4af-f90e23ef6f58",
              "leftValue": "={{ $json.refresh_token }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -352,
        -1472
      ],
      "id": "aa8206b0-c1b7-4d0e-b720-d7bbd0f507de",
      "name": "Has Refresh Token from Sheet?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.mercadolibre.com/oauth/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "authorization_code"
            },
            {
              "name": "client_id",
              "value": "={{ $json.client_id }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $json.client_secret }}"
            },
            {
              "name": "code",
              "value": "={{ $('Connect with Meli App').item.json.query.code }}"
            },
            {
              "name": "redirect_uri",
              "value": "={{ $json.redirect_uri }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -656,
        -2176
      ],
      "id": "e597fa39-3fee-4bdb-afcf-17bb50691b41",
      "name": "Get First Token from Client"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1fNbPSFPCT107L2STWMIAP8U2YtZ6k_zM3bbwtnR1LME",
          "mode": "list",
          "cachedResultName": "Clientes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fNbPSFPCT107L2STWMIAP8U2YtZ6k_zM3bbwtnR1LME/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 474439500,
          "mode": "list",
          "cachedResultName": "meli",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fNbPSFPCT107L2STWMIAP8U2YtZ6k_zM3bbwtnR1LME/edit#gid=474439500"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "client_code": "={{ $('Get Client List').item.json.client_code }}",
            "refresh_token": "={{ $json.refresh_token }}",
            "application_id": "={{ $json.access_token.split('-')[1] }}"
          },
          "matchingColumns": [
            "client_code"
          ],
          "schema": [
            {
              "id": "client_code",
              "displayName": "client_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "client_id",
              "displayName": "client_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_secret",
              "displayName": "client_secret",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "redirect_uri",
              "displayName": "redirect_uri",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "application_id",
              "displayName": "application_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "refresh_token",
              "displayName": "refresh_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "backend_url",
              "displayName": "backend_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tenant",
              "displayName": "tenant",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "token",
              "displayName": "token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        320,
        -1472
      ],
      "id": "a646f5a7-b52d-4443-aaad-9c5c73e250ef",
      "name": "Update Aplication ID",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KdO8EOqluuX2C5i7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1fNbPSFPCT107L2STWMIAP8U2YtZ6k_zM3bbwtnR1LME",
          "mode": "list",
          "cachedResultName": "Clientes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fNbPSFPCT107L2STWMIAP8U2YtZ6k_zM3bbwtnR1LME/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 474439500,
          "mode": "list",
          "cachedResultName": "meli",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fNbPSFPCT107L2STWMIAP8U2YtZ6k_zM3bbwtnR1LME/edit#gid=474439500"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "client_code": "={{ $json.client_code }}",
            "refresh_token": "={{ $('Get First Token from Client').item.json.refresh_token }}",
            "application_id": "={{ $('Get First Token from Client').item.json.access_token.split('-')[1] }}"
          },
          "matchingColumns": [
            "client_code"
          ],
          "schema": [
            {
              "id": "client_code",
              "displayName": "client_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "client_id",
              "displayName": "client_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_secret",
              "displayName": "client_secret",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "redirect_uri",
              "displayName": "redirect_uri",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "application_id",
              "displayName": "application_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "refresh_token",
              "displayName": "refresh_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "backend_url",
              "displayName": "backend_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tenant",
              "displayName": "tenant",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "token",
              "displayName": "token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -208,
        -2176
      ],
      "id": "f47063bc-ce51-4200-8e77-2a5214056374",
      "name": "Update Refresh Token",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KdO8EOqluuX2C5i7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d7f5744a-1fd3-42bd-b14f-c3325ce35152",
              "name": "client_code",
              "value": "={{ $('Get Client List from State').item.json.client_code }}",
              "type": "string"
            },
            {
              "id": "2498977c-a44d-4a4c-8c6b-98e97d8101f4",
              "name": "client_id",
              "value": "={{ $('Get Client List from State').item.json.client_id }}",
              "type": "string"
            },
            {
              "id": "4af6551e-94ff-4818-83e7-df1f1f476bde",
              "name": "redirect_uri",
              "value": "={{ $('Get Client List from State').item.json.redirect_uri }}",
              "type": "string"
            },
            {
              "id": "d2584d66-4cff-4714-b90d-74a3b8cfd3b0",
              "name": "client_id",
              "value": "={{ $('Get Client List from State').item.json.client_id }}",
              "type": "string"
            },
            {
              "id": "a38b55d0-cb75-4f3a-bcf3-905b60ddfe26",
              "name": "client_secret",
              "value": "={{ $('Get Client List from State').item.json.client_secret }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -432,
        -2176
      ],
      "id": "16545f9c-9727-41ef-9d20-21d1a5e29822",
      "name": "Sheet Values"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=**Hemos registrado un nuevo acceso para Mercado Libre**\n\n* Client Code: **{{ $('Sheet Values').item.json.client_code }}**\n* Client ID: **{{ $('Sheet Values').item.json.client_id }}**\n* URL solicitada: {{ $('Sheet Values').item.json.redirect_uri }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        464,
        -2176
      ],
      "id": "ca967970-a5da-4a9e-8039-0e1cc28ecd0e",
      "name": "Discord",
      "webhookId": "2e643099-7890-46f6-9473-d1cb5ad2c891",
      "credentials": {
        "discordWebhookApi": {
          "id": "1RAA50Zialqt5vW1",
          "name": "Meli"
        }
      }
    },
    {
      "parameters": {
        "content": "## Conexión inicial con Mercado Libre\n",
        "height": 576,
        "width": 1968
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1216,
        -2432
      ],
      "id": "7c584763-5ff3-4baa-9834-7d3743b83c73",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Lectura y Actualziación de token\nLee el token actual para tenerlo listo a la espera de usarlo",
        "height": 720,
        "width": 1696
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1024,
        -1760
      ],
      "id": "26b11fc6-bb8c-4922-9897-8dc318b82793",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.mercadolibre.com/oauth/token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "refresh_token"
            },
            {
              "name": "client_id",
              "value": "={{ $('Sheet Values').item.json.client_id }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $('Sheet Values').item.json.client_secret }}"
            },
            {
              "name": "refresh_token",
              "value": "={{ $json.refresh_token }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16,
        -2176
      ],
      "id": "aee9e8df-ac83-431e-95da-4190e2689cb7",
      "name": "Get First Token from Request"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Sheet Values').item.json.client_id + '_access_token' }}",
        "value": "={{ $json.access_token }}",
        "keyType": "string"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        240,
        -2176
      ],
      "id": "7ba5a1a9-a71c-46b5-95e0-255be205489e",
      "name": "Set First Meli Token",
      "credentials": {
        "redis": {
          "id": "v44u1cVu0DFuOlru",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1fNbPSFPCT107L2STWMIAP8U2YtZ6k_zM3bbwtnR1LME",
          "mode": "list",
          "cachedResultName": "Clientes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fNbPSFPCT107L2STWMIAP8U2YtZ6k_zM3bbwtnR1LME/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 474439500,
          "mode": "list",
          "cachedResultName": "meli",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fNbPSFPCT107L2STWMIAP8U2YtZ6k_zM3bbwtnR1LME/edit#gid=474439500"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "client_code": "={{ $('Get Client List').item.json.client_code }}",
            "refresh_token": "={{ $json.refresh_token }}"
          },
          "matchingColumns": [
            "client_code"
          ],
          "schema": [
            {
              "id": "client_code",
              "displayName": "client_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "client_id",
              "displayName": "client_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "client_secret",
              "displayName": "client_secret",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "redirect_uri",
              "displayName": "redirect_uri",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "application_id",
              "displayName": "application_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "refresh_token",
              "displayName": "refresh_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "backend_url",
              "displayName": "backend_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tenant",
              "displayName": "tenant",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "token",
              "displayName": "token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        96,
        -1280
      ],
      "id": "47bb1c92-0b90-4d5b-99e3-7128f5824eda",
      "name": "Update Refresh Token Value",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KdO8EOqluuX2C5i7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1fNbPSFPCT107L2STWMIAP8U2YtZ6k_zM3bbwtnR1LME",
          "mode": "list",
          "cachedResultName": "Clientes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fNbPSFPCT107L2STWMIAP8U2YtZ6k_zM3bbwtnR1LME/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 474439500,
          "mode": "list",
          "cachedResultName": "meli",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fNbPSFPCT107L2STWMIAP8U2YtZ6k_zM3bbwtnR1LME/edit#gid=474439500"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "application_id",
              "lookupValue": "={{ $('Meli Orders').item.json.body.application_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2336,
        -2240
      ],
      "id": "af4cf2da-3d33-48d5-b1b6-a4a2801847aa",
      "name": "Get Client List1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KdO8EOqluuX2C5i7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b0a21178-99af-4b8f-98a7-f8179f79a285",
              "name": "client_code",
              "value": "={{ $json.client_code }}",
              "type": "string"
            },
            {
              "id": "9e6b46fe-7096-4d2a-b788-674c48fbf5b1",
              "name": "backend_url",
              "value": "={{ $json.backend_url }}",
              "type": "string"
            },
            {
              "id": "d55a49fa-31c2-4ef4-8b80-b904d710b246",
              "name": "tenant",
              "value": "={{ $json.tenant }}",
              "type": "string"
            },
            {
              "id": "08093837-a94d-4109-a407-e95c75a034bf",
              "name": "token",
              "value": "={{ $json.token }}",
              "type": "string"
            },
            {
              "id": "2b5ce748-8000-424f-ad62-6448f8af691e",
              "name": "application_id",
              "value": "={{ $json.application_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2560,
        -2240
      ],
      "id": "62bb875c-a11d-4968-82d9-cb6c83cdd9bd",
      "name": "Set Default Values from Client"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "access_token",
        "key": "={{ $json.application_id + '_access_token' }}",
        "keyType": "string",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2784,
        -2240
      ],
      "id": "1747e90e-e39b-4099-891d-2e816d569fe9",
      "name": "Get Token For Order",
      "credentials": {
        "redis": {
          "id": "v44u1cVu0DFuOlru",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Crear Pedido y Paquete\nCrea el pedido y el paquete relacionado con el adjunto del ticket de impresión para envío de Mercado Libre",
        "height": 1280,
        "width": 2400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1744,
        -2480
      ],
      "id": "76af21cb-6079-492a-b1f2-184f0ab541ef",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "access_token",
        "key": "={{ $json.application_id + '_access_token' }}",
        "keyType": "string",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -224,
        -512
      ],
      "id": "af367b75-21bc-4b01-a4eb-77920aae81d7",
      "name": "Get Token For Category",
      "credentials": {
        "redis": {
          "id": "v44u1cVu0DFuOlru",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1fNbPSFPCT107L2STWMIAP8U2YtZ6k_zM3bbwtnR1LME",
          "mode": "list",
          "cachedResultName": "Clientes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fNbPSFPCT107L2STWMIAP8U2YtZ6k_zM3bbwtnR1LME/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 474439500,
          "mode": "list",
          "cachedResultName": "meli",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fNbPSFPCT107L2STWMIAP8U2YtZ6k_zM3bbwtnR1LME/edit#gid=474439500"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "store_uuid",
              "lookupValue": "={{ $json.query.store_uuid }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -672,
        -512
      ],
      "id": "92b9d59c-f1f7-4482-8012-dd6b3f14c34c",
      "name": "Get Client List For Category",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KdO8EOqluuX2C5i7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Obtiene Categorías\nObtiene las categorías relacionadas a un nombre en específico.\n```\ncurl --location 'https://n8n.coord.solopcloud.com/webhook-test/3d55ac4f-f8d2-4f1e-8488-1e7b5ff2ae09?product_name=Cortador&store_uuid=22e5af91-af12-4a59-9eb1-f4d1b3f6a253'\n```",
        "height": 496,
        "width": 1632
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1040,
        -752
      ],
      "id": "6d265322-7efc-40a3-a072-61eb40d2a2fe",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1fNbPSFPCT107L2STWMIAP8U2YtZ6k_zM3bbwtnR1LME",
          "mode": "list",
          "cachedResultName": "Clientes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fNbPSFPCT107L2STWMIAP8U2YtZ6k_zM3bbwtnR1LME/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 474439500,
          "mode": "list",
          "cachedResultName": "meli",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fNbPSFPCT107L2STWMIAP8U2YtZ6k_zM3bbwtnR1LME/edit#gid=474439500"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "store_uuid",
              "lookupValue": "={{ $json.query.store_uuid }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -656,
        96
      ],
      "id": "81d2a3ea-7490-4c96-9714-cb746bad1dff",
      "name": "Get Client List For Attributes",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KdO8EOqluuX2C5i7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b0a21178-99af-4b8f-98a7-f8179f79a285",
              "name": "client_code",
              "value": "={{ $json.client_code }}",
              "type": "string"
            },
            {
              "id": "9e6b46fe-7096-4d2a-b788-674c48fbf5b1",
              "name": "backend_url",
              "value": "={{ $json.backend_url }}",
              "type": "string"
            },
            {
              "id": "d55a49fa-31c2-4ef4-8b80-b904d710b246",
              "name": "tenant",
              "value": "={{ $json.tenant }}",
              "type": "string"
            },
            {
              "id": "08093837-a94d-4109-a407-e95c75a034bf",
              "name": "token",
              "value": "={{ $json.token }}",
              "type": "string"
            },
            {
              "id": "2b5ce748-8000-424f-ad62-6448f8af691e",
              "name": "application_id",
              "value": "={{ $json.application_id }}",
              "type": "string"
            },
            {
              "id": "9f1d5a3f-f593-4ebf-8d75-c1e20e558a9e",
              "name": "site_id",
              "value": "MLU",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -432,
        96
      ],
      "id": "6b20747c-3580-4018-b04f-ddab0f50b8ca",
      "name": "Workflow Config Attributes"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b0a21178-99af-4b8f-98a7-f8179f79a285",
              "name": "client_code",
              "value": "={{ $json.client_code }}",
              "type": "string"
            },
            {
              "id": "9e6b46fe-7096-4d2a-b788-674c48fbf5b1",
              "name": "backend_url",
              "value": "={{ $json.backend_url }}",
              "type": "string"
            },
            {
              "id": "d55a49fa-31c2-4ef4-8b80-b904d710b246",
              "name": "tenant",
              "value": "={{ $json.tenant }}",
              "type": "string"
            },
            {
              "id": "08093837-a94d-4109-a407-e95c75a034bf",
              "name": "token",
              "value": "={{ $json.token }}",
              "type": "string"
            },
            {
              "id": "2b5ce748-8000-424f-ad62-6448f8af691e",
              "name": "application_id",
              "value": "={{ $json.application_id }}",
              "type": "string"
            },
            {
              "id": "9f1d5a3f-f593-4ebf-8d75-c1e20e558a9e",
              "name": "site_id",
              "value": "MLU",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -448,
        -512
      ],
      "id": "9046f8d7-f7fb-4787-9b2b-ee5fad23b262",
      "name": "Workflow Config Category"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "access_token",
        "key": "={{ $json.application_id + '_access_token' }}",
        "keyType": "string",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -208,
        96
      ],
      "id": "28fb28a7-ccbc-45fd-88d0-276ac6d82369",
      "name": "Get Token for Attributes",
      "credentials": {
        "redis": {
          "id": "v44u1cVu0DFuOlru",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.mercadolibre.com/categories/{{ $('Webhook Get Attributes').item.json.query.category_id }}/attributes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Token for Attributes').item.json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16,
        96
      ],
      "id": "41944d8e-85c5-435e-8e22-aa6118869d9a",
      "name": "Get Meli Attributes Values"
    },
    {
      "parameters": {
        "content": "## Obtiene Atributos de Categorías\nObtiene los atributos relacionados a la categoría seleccionada\n```\ncurl --location 'https://n8n.coord.solopcloud.com/webhook-test/fbd3d2b8-f440-4449-8429-64af0032eae9?category_id=MLU211826&store_uuid=22e5af91-af12-4a59-9eb1-f4d1b3f6a253'\n```",
        "height": 496,
        "width": 1632
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1040,
        -128
      ],
      "id": "fdbf207d-b76c-4925-81c5-6f43c76cbaa6",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "access_token",
        "key": "={{ $json.application_id + '_access_token' }}",
        "keyType": "string",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2272,
        640
      ],
      "id": "73754995-0e98-438a-9043-728dcd1d2471",
      "name": "Get Token for Publishing",
      "credentials": {
        "redis": {
          "id": "v44u1cVu0DFuOlru",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1fNbPSFPCT107L2STWMIAP8U2YtZ6k_zM3bbwtnR1LME",
          "mode": "list",
          "cachedResultName": "Clientes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fNbPSFPCT107L2STWMIAP8U2YtZ6k_zM3bbwtnR1LME/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 474439500,
          "mode": "list",
          "cachedResultName": "meli",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fNbPSFPCT107L2STWMIAP8U2YtZ6k_zM3bbwtnR1LME/edit#gid=474439500"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "store_uuid",
              "lookupValue": "={{ $json.body.store_uuid }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1824,
        640
      ],
      "id": "fb042b83-0393-4248-8b77-b1c3972b57c4",
      "name": "Get Client List For Publishing",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KdO8EOqluuX2C5i7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b0a21178-99af-4b8f-98a7-f8179f79a285",
              "name": "client_code",
              "value": "={{ $json.client_code }}",
              "type": "string"
            },
            {
              "id": "9e6b46fe-7096-4d2a-b788-674c48fbf5b1",
              "name": "backend_url",
              "value": "={{ $json.backend_url }}",
              "type": "string"
            },
            {
              "id": "d55a49fa-31c2-4ef4-8b80-b904d710b246",
              "name": "tenant",
              "value": "={{ $json.tenant }}",
              "type": "string"
            },
            {
              "id": "08093837-a94d-4109-a407-e95c75a034bf",
              "name": "token",
              "value": "={{ $json.token }}",
              "type": "string"
            },
            {
              "id": "2b5ce748-8000-424f-ad62-6448f8af691e",
              "name": "application_id",
              "value": "={{ $json.application_id }}",
              "type": "string"
            },
            {
              "id": "9f1d5a3f-f593-4ebf-8d75-c1e20e558a9e",
              "name": "site_id",
              "value": "MLU",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2048,
        640
      ],
      "id": "5c2d91ce-44a8-4d57-a2e4-e022bb9aab2c",
      "name": "Workflow Config Publishing"
    },
    {
      "parameters": {
        "content": "## Crea / Actualiza / Desactiva Publicación\nEste flujo se encarga de crear una publicación desde cero. Tambien puede actualziarla si ya fue creada previamente y tiene el código de publicación o simplemente desactivarla",
        "height": 2224,
        "width": 5968
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1472,
        -544
      ],
      "id": "50841d85-bbe8-49eb-91f8-634d173fc9f3",
      "name": "Sticky Note5"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Get Category": {
      "main": [
        [
          {
            "node": "Get Client List For Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Meli Categories": {
      "main": [
        [
          {
            "node": "Merge Requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meli Orders": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Notification": {
      "main": [
        [
          {
            "node": "Get Meli Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Meli Order": {
      "main": [
        [
          {
            "node": "Get Shipment Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_billing_info": {
      "main": [
        [
          {
            "node": "build_payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get Client List1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build_payload": {
      "main": [
        [
          {
            "node": "POST Sabana /orders/import",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Sabana /orders/import": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert File Metadata Info": {
      "main": [
        [
          {
            "node": "Get Presigned-URL Info",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Presigned-URL For Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Presigned-URL Info": {
      "main": [
        [
          {
            "node": "Get File from Local Storage Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File from Local Storage Info": {
      "main": [
        [
          {
            "node": "PUT File Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PUT File Info": {
      "main": [
        [
          {
            "node": "Confirm Upload Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get Shipment Label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Package": {
      "main": [
        [
          {
            "node": "Convert File Metadata Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Get Attributes": {
      "main": [
        [
          {
            "node": "Get Client List For Attributes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Media Files (Update)": {
      "main": [
        [
          {
            "node": "Get Image Cache (Update)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Media Files (Create)": {
      "main": [
        [
          {
            "node": "Get Image Cache (Create)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image Cache (Update)": {
      "main": [
        [
          {
            "node": "Check Cache (Update)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image Cache (Create)": {
      "main": [
        [
          {
            "node": "Check Cache (Create)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Cache (Update)": {
      "main": [
        [
          {
            "node": "If Not Cached (Update)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Cache (Create)": {
      "main": [
        [
          {
            "node": "If Not Cached (Create)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Not Cached (Update)": {
      "main": [
        [
          {
            "node": "Download from S3 (Update)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Cached Picture ID (Update)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Not Cached (Create)": {
      "main": [
        [
          {
            "node": "Download from S3 (Create)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Cached Picture ID (Create)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download from S3 (Update)": {
      "main": [
        [
          {
            "node": "Upload to ML (Update)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download from S3 (Create)": {
      "main": [
        [
          {
            "node": "Upload to ML (Create)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to ML (Update)": {
      "main": [
        [
          {
            "node": "Extract Picture ID (Update)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to ML (Create)": {
      "main": [
        [
          {
            "node": "Extract Picture ID (Create)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Picture ID (Update)": {
      "main": [
        [
          {
            "node": "Merge Pictures (Update)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Picture ID (Create)": {
      "main": [
        [
          {
            "node": "Merge Pictures (Create)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Pictures (Update)": {
      "main": [
        [
          {
            "node": "Build Cache (Update)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Pictures (Create)": {
      "main": [
        [
          {
            "node": "Build Cache (Create)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Cache (Update)": {
      "main": [
        [
          {
            "node": "Save Image Cache (Update)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Cache (Create)": {
      "main": [
        [
          {
            "node": "Save Image Cache (Create)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Image Cache (Update)": {
      "main": [
        [
          {
            "node": "Prepare Update Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Image Cache (Create)": {
      "main": [
        [
          {
            "node": "Prepare Create Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Update Body": {
      "main": [
        [
          {
            "node": "Update Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Create Body": {
      "main": [
        [
          {
            "node": "Create Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Product": {
      "main": [
        [
          {
            "node": "If Has Description (Update)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Has Description (Update)": {
      "main": [
        [
          {
            "node": "Update Description (Update)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Description (Update)": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Product": {
      "main": [
        [
          {
            "node": "Set Publish ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Publish ID": {
      "main": [
        [
          {
            "node": "If Has Description (Create)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Has Description (Create)": {
      "main": [
        [
          {
            "node": "Add Description (Create)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Description (Create)": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Publush / Pause / Close": {
      "main": [
        [
          {
            "node": "Process Media Files (Update)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Paused/Close Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Paused/Close Body": {
      "main": [
        [
          {
            "node": "Change Publush Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Change Publush Status": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Cached Picture ID (Update)": {
      "main": [
        [
          {
            "node": "Merge Pictures (Update)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract Cached Picture ID (Create)": {
      "main": [
        [
          {
            "node": "Merge Pictures (Create)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Pictures (Update)": {
      "main": [
        [
          {
            "node": "Aggregate Pictures (Update)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Pictures (Create)": {
      "main": [
        [
          {
            "node": "Aggregate Pictures (Create)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has Media (Create)": {
      "main": [
        [
          {
            "node": "Process Media Files (Create)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Pictures (Create)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Pictures (Create)": {
      "main": [
        [
          {
            "node": "Prepare Create Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Shipment Label": {
      "main": [
        [
          {
            "node": "Create Package",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Shipment Info": {
      "main": [
        [
          {
            "node": "get_billing_info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Presigned-URL For Order": {
      "main": [
        [
          {
            "node": "Get File from Local Storage for Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File from Local Storage for Order": {
      "main": [
        [
          {
            "node": "PUT File For Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PUT File For Order": {
      "main": [
        [
          {
            "node": "Confirm Upload For Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (PublishCallbacks)": {
      "main": [
        [
          {
            "node": "Get Client List For Publishing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Publication Exists": {
      "main": [
        [
          {
            "node": "Resolve Publish Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Seller Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Seller Id": {
      "main": [
        [
          {
            "node": "Get Category Info (Create)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Publish Code": {
      "main": [
        [
          {
            "node": "If Publush / Pause / Close",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Category Info (Create)": {
      "main": [
        [
          {
            "node": "IF Has Media (Create)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get Client List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Client List": {
      "main": [
        [
          {
            "node": "Has Refresh Token from Sheet?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Token from List": {
      "main": [
        [
          {
            "node": "Set Meli Token",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is for Set App?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Refresh Token Value",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refresh Token": {
      "main": [
        [
          {
            "node": "Get Client List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Connect with Meli App": {
      "main": [
        [
          {
            "node": "Get Client List from State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is for Set App?": {
      "main": [
        [
          {
            "node": "Update Aplication ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Refresh Token from Sheet?": {
      "main": [
        [
          {
            "node": "Get Token from List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get First Token from Client": {
      "main": [
        [
          {
            "node": "Sheet Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Client List from State": {
      "main": [
        [
          {
            "node": "Get First Token from Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Refresh Token": {
      "main": [
        [
          {
            "node": "Get First Token from Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheet Values": {
      "main": [
        [
          {
            "node": "Update Refresh Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get First Token from Request": {
      "main": [
        [
          {
            "node": "Set First Meli Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set First Meli Token": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Client List1": {
      "main": [
        [
          {
            "node": "Set Default Values from Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Default Values from Client": {
      "main": [
        [
          {
            "node": "Get Token For Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Token For Order": {
      "main": [
        [
          {
            "node": "Parse Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Token For Category": {
      "main": [
        [
          {
            "node": "Get Meli Categories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Client List For Category": {
      "main": [
        [
          {
            "node": "Workflow Config Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Client List For Attributes": {
      "main": [
        [
          {
            "node": "Workflow Config Attributes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Config Attributes": {
      "main": [
        [
          {
            "node": "Get Token for Attributes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Config Category": {
      "main": [
        [
          {
            "node": "Get Token For Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Token for Attributes": {
      "main": [
        [
          {
            "node": "Get Meli Attributes Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Meli Attributes Values": {
      "main": [
        [
          {
            "node": "Merge Attributes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Token for Publishing": {
      "main": [
        [
          {
            "node": "If Publication Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Client List For Publishing": {
      "main": [
        [
          {
            "node": "Workflow Config Publishing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Config Publishing": {
      "main": [
        [
          {
            "node": "Get Token for Publishing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "xEMwQfmlQpuAYW2Y",
    "timeSavedMode": "fixed",
    "timezone": "America/Montevideo"
  },
  "versionId": "3c5b8b91-594b-43c6-8a22-ae96d0a19f86",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f09489af66615439812ccb85123e7f2a2a9ea905a9abe2c1dd72caf7dcc8c50b"
  },
  "id": "9lqXWLii1zx3zkv6",
  "tags": [
    {
      "updatedAt": "2025-11-14T00:05:24.096Z",
      "createdAt": "2025-11-14T00:05:24.096Z",
      "id": "0iOk1R4Zh0L8OViZ",
      "name": "Clientes"
    },
    {
      "updatedAt": "2026-02-26T19:48:17.542Z",
      "createdAt": "2026-02-26T19:48:17.542Z",
      "id": "Yxes5CEyxoczikIn",
      "name": "dyd"
    },
    {
      "updatedAt": "2026-03-12T21:51:55.794Z",
      "createdAt": "2026-03-12T21:51:55.794Z",
      "id": "HjI2QUWnSv4jrLkq",
      "name": "meli"
    },
    {
      "updatedAt": "2026-05-20T22:43:41.939Z",
      "createdAt": "2026-05-20T22:43:41.939Z",
      "id": "SjXl8wSEGa7J5U0m",
      "name": "mercadolibre"
    },
    {
      "updatedAt": "2026-05-20T22:43:42.023Z",
      "createdAt": "2026-05-20T22:43:42.023Z",
      "id": "4eHhiyXsvk6auD0G",
      "name": "sabana"
    }
  ]
}