MercadoLibre (Meli) -DyD (Prod).json
{
  "name": "MercadoLibre (Meli) -DyD (Prod)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "=GET",
        "path": "meli",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -352,
        -496
      ],
      "id": "44d71e87-77c1-4725-95ab-eec706ddacbd",
      "name": "Webhook (Auth)",
      "webhookId": "3af7948c-0c0a-4f28-9dbe-2977a2c32643"
    },
    {
      "parameters": {
        "fromEmail": "n8n@notifications.solopapp.com",
        "toEmail": "yamel.senih@solopsoftware.com;nicolas.sarlabos@solopsoftware.com;raul.capecce@solopsoftware.com",
        "subject": "Registro Creado (Mercado Libre)",
        "html": "=<p><strong>Hemos registrado un nuevo acceso para Mercado Libre</strong></p>\n<ul>\n<li>Client ID: <strong>{{ $('Is Refresh Token?').item.json.client_id }}</strong></li>\n<li>C&oacute;digo: <strong>{{ $('Webhook (Auth)').item.json.query.code }}</strong></li>\n<li>URL solicitada: <a href=\"{{ $('Webhook (Auth)').item.json.webhookUrl }}\">{{ $('Webhook (Auth)').item.json.webhookUrl }}</a></li>\n</ul>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        768,
        -400
      ],
      "id": "c2702121-4e12-4749-a1d4-f2c94fb90978",
      "name": "Send Email",
      "webhookId": "c8680737-afd8-4c72-9adf-2ffced227acc",
      "credentials": {
        "smtp": {
          "id": "K6gpDq2FOrXCf2H5",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -800,
        -688
      ],
      "id": "dfe2b77e-0efe-4169-b7fa-9ddf2ec6b526",
      "name": "Get Refresh Token"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $workflow.id + '_access_token' }}",
        "value": "={{ $json.access_token }}",
        "keyType": "string"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        544,
        -784
      ],
      "id": "fb09804b-c077-4d67-af1d-3e213e499745",
      "name": "Set Mercadolibre Token",
      "credentials": {
        "redis": {
          "id": "v44u1cVu0DFuOlru",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $workflow.id + '_refresh_token' }}",
        "value": "={{ $json.refresh_token }}",
        "keyType": "string"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        544,
        -592
      ],
      "id": "7545c748-55dd-4ebf-9139-c13ea926483a",
      "name": "Set Mercadolibre Refresh Token",
      "credentials": {
        "redis": {
          "id": "v44u1cVu0DFuOlru",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "path": "3d55ac4f-f8d2-4f1e-8488-1e7b5ff2ae09",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -784,
        288
      ],
      "id": "893774fe-5261-4f52-80e2-b74345bfe9e3",
      "name": "Webhook Get Category",
      "webhookId": "3d55ac4f-f8d2-4f1e-8488-1e7b5ff2ae09"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "access_token",
        "key": "={{ $workflow.id + '_access_token' }}",
        "keyType": "string",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -336,
        288
      ],
      "id": "83c5d135-b906-48c1-bce9-bc7c2f020533",
      "name": "Get Token",
      "credentials": {
        "redis": {
          "id": "v44u1cVu0DFuOlru",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.mercadolibre.com/sites/{{ $('Workflow Config').item.json.site_id }}/domain_discovery/search?limit=8&q={{ $('Webhook Get Category').item.json.query.product_name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -112,
        288
      ],
      "id": "b598c88b-c8d3-4b13-805f-a262a353f8be",
      "name": "Get Meli Categories"
    },
    {
      "parameters": {
        "jsCode": "const categories = $('Get Meli Categories').all().map(category => {\n  return {\n    code: category.json.category_id,\n    name: category.json.category_name,\n    description: category.json.domain_name\n  }\n});\n\n// let completeDate = {\n//   code: category.category_id,\n//   name: category.category_name,\n//   description: category.domain_name,\n//   attributes: category.attributes\n// }\nreturn categories;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        288
      ],
      "id": "13e723a5-1229-4199-a459-a7d395c52437",
      "name": "Merge Requests"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Meli Values').item.json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "={{ $('Meli Values').item.json.grant_type }}"
            },
            {
              "name": "client_id",
              "value": "={{ $('Meli Values').item.json.client_id }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $('Meli Values').item.json.client_secret }}"
            },
            {
              "name": "refresh_token",
              "value": "={{ $('Get Current Refresh Token').item.json.refresh_token }}"
            },
            {
              "name": "redirect_uri",
              "value": "={{ $('Meli Values').item.json.redirect_uri }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        -688
      ],
      "id": "9eb94610-f152-4723-bd00-f22a2904b5b8",
      "name": "HTTP Get Token"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "meli-callbacks",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -832,
        -48
      ],
      "id": "acfd18ca-4975-4e8f-971b-deedfc1704b0",
      "name": "Meli Orders",
      "webhookId": "7a431825-7ddf-473e-af5d-4e2287dd2f24"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d7f5744a-1fd3-42bd-b14f-c3325ce35152",
              "name": "url",
              "value": "https://api.mercadolibre.com/oauth/token",
              "type": "string"
            },
            {
              "id": "f780331c-1576-43ff-b5a3-cf997c228201",
              "name": "grant_type",
              "value": "={{ $('Get Refresh Token').isExecuted ? \"refresh_token\": \"authorization_code\" }}",
              "type": "string"
            },
            {
              "id": "683d5558-c5f7-4cd8-bd54-ff793f695c13",
              "name": "client_id",
              "value": "3142996240835492",
              "type": "string"
            },
            {
              "id": "9e3e6347-0ae0-4b26-805f-de405bea2356",
              "name": "client_secret",
              "value": "KhDSWABvnfBLpWWMdUUe8HAHPtcG2kD5",
              "type": "string"
            },
            {
              "id": "459e5495-d892-4198-86bd-b88f6e7bfbbe",
              "name": "refresh_token",
              "value": "={{ $('Get Current Refresh Token').isExecuted? $('Get Current Refresh Token').item.json.refresh_token: \"\" }}",
              "type": "string"
            },
            {
              "id": "06c79f83-0a70-4b66-bbdb-a2040f366521",
              "name": "redirect_uri",
              "value": "https://n8n.coord.solopcloud.com/webhook-test/meli",
              "type": "string"
            },
            {
              "id": "304a9098-c7e5-4e63-8f13-fa4be692dd2a",
              "name": "token",
              "value": "={{ $('Get Current Refresh Token').isExecuted? $('Get Current Refresh Token').item.json.refresh_token: \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        -592
      ],
      "id": "e10ce005-b34b-4a5b-be16-7bec1175b7b8",
      "name": "Meli Values"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "refresh_token",
        "key": "={{ $workflow.id + '_refresh_token' }}",
        "keyType": "string",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -576,
        -688
      ],
      "id": "2c31e4c9-9caa-4f12-9576-734d9d60f911",
      "name": "Get Current Refresh Token",
      "credentials": {
        "redis": {
          "id": "v44u1cVu0DFuOlru",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e1611194-34a8-4ac9-8966-d40730145aa8",
              "leftValue": "={{ $json.refresh_token }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -352,
        -688
      ],
      "id": "b9956e31-de26-4ac5-969f-d5355f63fdea",
      "name": "Has Refresh Token?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ef12ce56-d866-443b-9e89-3926fd2e4a3e",
              "leftValue": "={{ $json.grant_type }}",
              "rightValue": "refresh_token",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        96,
        -592
      ],
      "id": "0ebf97d1-d5bb-443a-a53f-a90aa079a8dd",
      "name": "Is Refresh Token?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Meli Values').item.json.url }}",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "authorization_code"
            },
            {
              "name": "client_id",
              "value": "={{ $('Meli Values').item.json.client_id }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $('Meli Values').item.json.client_secret }}"
            },
            {
              "name": "code",
              "value": "={{ $('Webhook (Auth)').item.json.query.code }}"
            },
            {
              "name": "redirect_uri",
              "value": "={{ $('Webhook (Auth)').item.json.webhookUrl }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        320,
        -400
      ],
      "id": "649c505d-4ada-4432-9e2f-8b8d0c201472",
      "name": "Get First Token"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $workflow.id + '_refresh_token' }}",
        "value": "={{ $json.refresh_token }}",
        "keyType": "string"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        544,
        -400
      ],
      "id": "bd2f6f6c-bf6f-4fc2-874f-cc316d37c750",
      "name": "Set Mercadolibre Refresh Token from Code",
      "credentials": {
        "redis": {
          "id": "v44u1cVu0DFuOlru",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c3d4e5f6-a7b8-4c9d-0e1f-2a3b4c5d6e7f",
              "name": "site_id",
              "value": "MLU",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -560,
        288
      ],
      "id": "9f7b412e-13cb-4fe4-8bda-886e9438d6d9",
      "name": "Workflow Config"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "0eef161c-cf6d-49b8-a8ff-ac90779a6694",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -784,
        1232
      ],
      "id": "1732f188-1ab6-44b1-8fac-cc31909aaa1a",
      "name": "Webhook (PublishCallbacks)",
      "webhookId": "0eef161c-cf6d-49b8-a8ff-ac90779a6694"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-adempiere-code",
              "leftValue": "={{ $('Webhook (PublishCallbacks)').first().json.body.document.publication_code || $('Webhook (PublishCallbacks)').first().json.body.attributes.sp034_publication_code || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "has-publish-code",
              "leftValue": "={{ $json.publish_code || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -384,
        1232
      ],
      "id": "176776e0-9846-4676-bf6b-6d578e1fd80d",
      "name": "If Publication Exists"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "access_token",
        "key": "={{ $workflow.id + '_access_token' }}",
        "keyType": "string",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        624,
        1104
      ],
      "id": "0415a9ca-716f-40eb-ad29-c87366008444",
      "name": "Get Access Token (Update)",
      "credentials": {
        "redis": {
          "id": "v44u1cVu0DFuOlru",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "access_token",
        "key": "={{ $workflow.id + '_access_token' }}",
        "keyType": "string",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -224,
        1472
      ],
      "id": "07a2eb2d-90c3-4851-ac50-77d4907596c7",
      "name": "Get Access Token (Create)",
      "credentials": {
        "redis": {
          "id": "v44u1cVu0DFuOlru",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract media files from webhook\nconst items = [];\nconst webhookData = $('Webhook (PublishCallbacks)').first().json.body;\n\n// Check if media exists\nif (!webhookData || !webhookData.media) {\n  // No media files, return empty array\n  console.log('No media files found in webhook data');\n  return [];\n}\n\nconst mediaFiles = webhookData.media;\nconst productCode = webhookData.document.code;\nconst clientUuid = webhookData.document.client;\nconst cacheKey = `ml-images:${clientUuid}-${productCode}`;\n\nconsole.log(`========================================`);\nconsole.log(`Processing ${mediaFiles.length} media files for product ${productCode}`);\nconsole.log(`Full media array:`, JSON.stringify(mediaFiles, null, 2));\n\n// Create an item for each media file\nfor (let i = 0; i < mediaFiles.length; i++) {\n  const filePath = mediaFiles[i];\n  const filename = filePath.split('/').pop();\n  const s3Key = filePath.startsWith('/') ? filePath.substring(1) : filePath;\n  \n  console.log(`Item ${i}: filename=${filename}, path=${filePath}`);\n  \n  items.push({\n    json: {\n      filename: filename,\n      s3_key: s3Key,\n      s3_path: filePath,\n      product_code: productCode,\n      client_uuid: clientUuid,\n      cache_key: cacheKey,\n      index: i\n    }\n  });\n}\n\nconsole.log(`Created ${items.length} items for processing`);\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        992
      ],
      "id": "b3409b5f-2ce2-442d-95a0-eaf3eebe3b03",
      "name": "Process Media Files (Update)"
    },
    {
      "parameters": {
        "jsCode": "// Extract media files from webhook\nconst items = [];\nconst webhookData = $('Webhook (PublishCallbacks)').first().json.body;\n\n// Check if media exists\nif (!webhookData || !webhookData.media) {\n  // No media files, return empty array\n  console.log('No media files found in webhook data');\n  return [];\n}\n\nconst mediaFiles = webhookData.media;\nconst productCode = webhookData.document.code;\nconst clientUuid = webhookData.document.client;\nconst cacheKey = `ml-images:${clientUuid}-${productCode}`;\n\nconsole.log(`========================================`);\nconsole.log(`Processing ${mediaFiles.length} media files for product ${productCode}`);\nconsole.log(`Full media array:`, JSON.stringify(mediaFiles, null, 2));\n\n// Create an item for each media file\nfor (let i = 0; i < mediaFiles.length; i++) {\n  const filePath = mediaFiles[i];\n  const filename = filePath.split('/').pop();\n  const s3Key = filePath.startsWith('/') ? filePath.substring(1) : filePath;\n  \n  console.log(`Item ${i}: filename=${filename}, path=${filePath}`);\n  \n  items.push({\n    json: {\n      filename: filename,\n      s3_key: s3Key,\n      s3_path: filePath,\n      product_code: productCode,\n      client_uuid: clientUuid,\n      cache_key: cacheKey,\n      index: i\n    }\n  });\n}\n\nconsole.log(`Created ${items.length} items for processing`);\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        1536
      ],
      "id": "dba6b2b9-239a-4f17-923e-1b5999b57d9a",
      "name": "Process Media Files (Create)"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $json.cache_key }}",
        "keyType": "string",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1264,
        992
      ],
      "id": "a22bd3de-d7f5-4df0-ae29-cc924948a02e",
      "name": "Get Image Cache (Update)",
      "credentials": {
        "redis": {
          "id": "v44u1cVu0DFuOlru",
          "name": "Redis account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $json.cache_key }}",
        "keyType": "string",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1040,
        1536
      ],
      "id": "f2119264-028a-4ab8-9649-c38ed95f177b",
      "name": "Get Image Cache (Create)",
      "credentials": {
        "redis": {
          "id": "v44u1cVu0DFuOlru",
          "name": "Redis account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Process ALL items from Redis and Process Media Files\nconst inputItems = $input.all(); // Items from Redis with cache data\nconst allProcessedItems = $('Process Media Files (Update)').all(); // Original file data\n\nconsole.log(`[Check Cache UPDATE] ======================================`);\nconsole.log(`[Check Cache UPDATE] Processing ${inputItems.length} items`);\nconsole.log(`[Check Cache UPDATE] Total files in Process Media Files: ${allProcessedItems.length}`);\n\nconst outputItems = [];\nconst validImageExtensions = ['jpg', 'jpeg', 'png', 'gif', 'webp'];\n\n// Build list of filenames from webhook (source of truth)\nconst webhookFilenames = new Set();\nfor (const item of allProcessedItems) {\n  const filename = item.json.filename;\n  const fileExtension = filename ? filename.split('.').pop().toLowerCase() : '';\n  if (validImageExtensions.includes(fileExtension)) {\n    webhookFilenames.add(filename);\n  }\n}\n\nconsole.log(`[Check Cache UPDATE] Webhook has ${webhookFilenames.size} valid images: ${Array.from(webhookFilenames).join(', ')}`);\n\n// Get existing cache and clean it\nlet cacheData = null;\nlet cleanedCache = {};\n\nif (inputItems.length > 0) {\n  const cacheDataRaw = inputItems[0].json;\n  \n  // Parse cache data\n  if (cacheDataRaw && typeof cacheDataRaw === 'string') {\n    try {\n      cacheData = JSON.parse(cacheDataRaw);\n    } catch (e) {\n      console.log(`[Check Cache UPDATE] Cache parse error: ${e.message}`);\n    }\n  } else if (cacheDataRaw && typeof cacheDataRaw === 'object') {\n    if (cacheDataRaw.propertyName && typeof cacheDataRaw.propertyName === 'string') {\n      try {\n        cacheData = JSON.parse(cacheDataRaw.propertyName);\n      } catch (e) {\n        console.log(`[Check Cache UPDATE] Cache propertyName parse error: ${e.message}`);\n      }\n    } else {\n      cacheData = cacheDataRaw;\n    }\n  }\n  \n  // Clean cache: only keep images that are in webhook list\n  if (cacheData && typeof cacheData === 'object') {\n    for (const [filename, pictureId] of Object.entries(cacheData)) {\n      if (webhookFilenames.has(filename)) {\n        cleanedCache[filename] = pictureId;\n        console.log(`[Check Cache UPDATE] Keeping cached image: ${filename} = ${pictureId}`);\n      } else {\n        console.log(`[Check Cache UPDATE] Removing from cache (not in webhook): ${filename} = ${pictureId}`);\n      }\n    }\n  }\n}\n\nconsole.log(`[Check Cache UPDATE] Cleaned cache has ${Object.keys(cleanedCache).length} images`);\n\n// Process each item from webhook\nfor (let i = 0; i < allProcessedItems.length; i++) {\n  const originalData = allProcessedItems[i].json;\n  const filename = originalData.filename;\n  \n  // Filter: Only process valid image files\n  const fileExtension = filename ? filename.split('.').pop().toLowerCase() : '';\n  if (!validImageExtensions.includes(fileExtension)) {\n    console.log(`[Check Cache UPDATE] Item ${i}: ${filename} - SKIPPED (invalid format: ${fileExtension})`);\n    console.log(`[Check Cache UPDATE]   Valid formats: ${validImageExtensions.join(', ')}`);\n    continue; // Skip non-image files\n  }\n  \n  console.log(`[Check Cache UPDATE] Item ${i}: ${filename} - Valid image`);\n  \n  const pictureId = cleanedCache[filename] || null;\n  \n  console.log(`[Check Cache UPDATE]   Result: PictureID=${pictureId}, InCache=${!!pictureId}`);\n  \n  // Add item to output with cleaned cache\n  outputItems.push({\n    json: {\n      filename: originalData.filename,\n      s3_key: originalData.s3_key,\n      s3_path: originalData.s3_path,\n      product_code: originalData.product_code,\n      client_uuid: originalData.client_uuid,\n      cache_key: originalData.cache_key,\n      index: originalData.index,\n      image_cache: cleanedCache,\n      picture_id: pictureId,\n      in_cache: !!pictureId\n    }\n  });\n}\n\nconsole.log(`[Check Cache UPDATE] Returning ${outputItems.length} items`);\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        992
      ],
      "id": "242046e1-a714-42c2-8268-2d08e6d3b4b7",
      "name": "Check Cache (Update)"
    },
    {
      "parameters": {
        "jsCode": "// Process ALL items from Redis and Process Media Files\nconst inputItems = $input.all(); // Items from Redis with cache data\nconst allProcessedItems = $('Process Media Files (Create)').all(); // Original file data\n\nconsole.log(`[Check Cache CREATE] ======================================`);\nconsole.log(`[Check Cache CREATE] Processing ${inputItems.length} items`);\nconsole.log(`[Check Cache CREATE] Total files in Process Media Files: ${allProcessedItems.length}`);\n\nconst outputItems = [];\nconst validImageExtensions = ['jpg', 'jpeg', 'png', 'gif', 'webp'];\n\n// Build list of filenames from webhook (source of truth)\nconst webhookFilenames = new Set();\nfor (const item of allProcessedItems) {\n  const filename = item.json.filename;\n  const fileExtension = filename ? filename.split('.').pop().toLowerCase() : '';\n  if (validImageExtensions.includes(fileExtension)) {\n    webhookFilenames.add(filename);\n  }\n}\n\nconsole.log(`[Check Cache CREATE] Webhook has ${webhookFilenames.size} valid images: ${Array.from(webhookFilenames).join(', ')}`);\n\n// Get existing cache and clean it\nlet cacheData = null;\nlet cleanedCache = {};\n\nif (inputItems.length > 0) {\n  const cacheDataRaw = inputItems[0].json;\n  \n  // Parse cache data\n  if (cacheDataRaw && typeof cacheDataRaw === 'string') {\n    try {\n      cacheData = JSON.parse(cacheDataRaw);\n    } catch (e) {\n      console.log(`[Check Cache CREATE] Cache parse error: ${e.message}`);\n    }\n  } else if (cacheDataRaw && typeof cacheDataRaw === 'object') {\n    if (cacheDataRaw.propertyName && typeof cacheDataRaw.propertyName === 'string') {\n      try {\n        cacheData = JSON.parse(cacheDataRaw.propertyName);\n      } catch (e) {\n        console.log(`[Check Cache CREATE] Cache propertyName parse error: ${e.message}`);\n      }\n    } else {\n      cacheData = cacheDataRaw;\n    }\n  }\n  \n  // Clean cache: only keep images that are in webhook list\n  if (cacheData && typeof cacheData === 'object') {\n    for (const [filename, pictureId] of Object.entries(cacheData)) {\n      if (webhookFilenames.has(filename)) {\n        cleanedCache[filename] = pictureId;\n        console.log(`[Check Cache CREATE] Keeping cached image: ${filename} = ${pictureId}`);\n      } else {\n        console.log(`[Check Cache CREATE] Removing from cache (not in webhook): ${filename} = ${pictureId}`);\n      }\n    }\n  }\n}\n\nconsole.log(`[Check Cache CREATE] Cleaned cache has ${Object.keys(cleanedCache).length} images`);\n\n// Process each item from webhook\nfor (let i = 0; i < allProcessedItems.length; i++) {\n  const originalData = allProcessedItems[i].json;\n  const filename = originalData.filename;\n  \n  // Filter: Only process valid image files\n  const fileExtension = filename ? filename.split('.').pop().toLowerCase() : '';\n  if (!validImageExtensions.includes(fileExtension)) {\n    console.log(`[Check Cache CREATE] Item ${i}: ${filename} - SKIPPED (invalid format: ${fileExtension})`);\n    console.log(`[Check Cache CREATE]   Valid formats: ${validImageExtensions.join(', ')}`);\n    continue; // Skip non-image files\n  }\n  \n  console.log(`[Check Cache CREATE] Item ${i}: ${filename} - Valid image`);\n  \n  const pictureId = cleanedCache[filename] || null;\n  \n  console.log(`[Check Cache CREATE]   Result: PictureID=${pictureId}, InCache=${!!pictureId}`);\n  \n  // Add item to output with cleaned cache\n  outputItems.push({\n    json: {\n      filename: originalData.filename,\n      s3_key: originalData.s3_key,\n      s3_path: originalData.s3_path,\n      product_code: originalData.product_code,\n      client_uuid: originalData.client_uuid,\n      cache_key: originalData.cache_key,\n      index: originalData.index,\n      image_cache: cleanedCache,\n      picture_id: pictureId,\n      in_cache: !!pictureId\n    }\n  });\n}\n\nconsole.log(`[Check Cache CREATE] Returning ${outputItems.length} items`);\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        1536
      ],
      "id": "485db712-e3cb-4efd-9e93-cd43926e9516",
      "name": "Check Cache (Create)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "not-in-cache",
              "leftValue": "={{ $json.in_cache }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "77fda44f-6dc7-4bd4-90a4-d28e0bc9433a",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1712,
        992
      ],
      "id": "e09a65d9-1da7-4b6a-b876-272e3d69417f",
      "name": "If Not Cached (Update)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "not-in-cache",
              "leftValue": "={{ $json.in_cache }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1488,
        1536
      ],
      "id": "291c7ff5-df70-4392-914a-62d70964f74f",
      "name": "If Not Cached (Create)"
    },
    {
      "parameters": {
        "bucketName": "sp-space-1",
        "fileKey": "={{ $json.s3_key }}"
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        1936,
        912
      ],
      "id": "08879424-1c54-4df0-9052-0e90f7dce092",
      "name": "Download from S3 (Update)",
      "credentials": {
        "s3": {
          "id": "aT1jKU8wz2TqB6Sp",
          "name": "S3 account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "bucketName": "sp-space-1",
        "fileKey": "={{ $json.s3_key }}"
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        1712,
        1440
      ],
      "id": "fac8851e-d783-4964-84da-7d7b9191327f",
      "name": "Download from S3 (Create)",
      "credentials": {
        "s3": {
          "id": "aT1jKU8wz2TqB6Sp",
          "name": "S3 account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mercadolibre.com/pictures/items/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Access Token (Update)').first().json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        912
      ],
      "id": "2f8b847b-3c4d-48b3-9bf3-ad182a7d24aa",
      "name": "Upload to ML (Update)",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mercadolibre.com/pictures/items/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Access Token (Create)').first().json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1936,
        1440
      ],
      "id": "35f98e0c-cf81-403e-b9fd-6a2ea310d271",
      "name": "Upload to ML (Create)",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Extract picture ID from ML upload response - Process ALL items\nconst uploadedItems = $input.all(); // All items from Upload to ML\nconst downloadItems = $('Download from S3 (Update)').all(); // Original items with metadata\n\nconsole.log(`[Extract Picture ID UPDATE] Processing ${uploadedItems.length} uploaded items`);\n\nconst outputItems = [];\n\nfor (let i = 0; i < uploadedItems.length; i++) {\n  const uploadResponse = uploadedItems[i].json;\n  const pictureId = uploadResponse.id;\n  \n  // Try to match with download item by index or pairedItem\n  let filename = '';\n  let cache_key = '';\n  \n  // Method 1: Use pairedItem if available\n  if (uploadedItems[i].pairedItem !== undefined) {\n    const pairedIndex = uploadedItems[i].pairedItem;\n    if (downloadItems && downloadItems[pairedIndex]) {\n      filename = downloadItems[pairedIndex].json.filename || '';\n      cache_key = downloadItems[pairedIndex].json.cache_key || '';\n    }\n  }\n  \n  // Method 2: Match by index\n  if (!filename && downloadItems && downloadItems[i]) {\n    filename = downloadItems[i].json.filename || '';\n    cache_key = downloadItems[i].json.cache_key || '';\n  }\n  \n  // Method 3: Try to get from binary filename\n  if (!filename && uploadedItems[i].binary && uploadedItems[i].binary.data) {\n    filename = uploadedItems[i].binary.data.fileName || '';\n  }\n  \n  console.log(`[Extract Picture ID UPDATE] Item ${i}: PictureID=${pictureId}, Filename=${filename}`);\n  \n  outputItems.push({\n    json: {\n      picture_id: pictureId,\n      filename: filename,\n      cache_key: cache_key\n    }\n  });\n}\n\nconsole.log(`[Extract Picture ID UPDATE] Returning ${outputItems.length} items`);\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2384,
        912
      ],
      "id": "5a2b49bc-3ad7-4f99-a1d4-c09100589c75",
      "name": "Extract Picture ID (Update)"
    },
    {
      "parameters": {
        "jsCode": "// Extract picture ID from ML upload response - Process ALL items\nconst uploadedItems = $input.all(); // All items from Upload to ML\nconst downloadItems = $('Download from S3 (Create)').all(); // Original items with metadata\n\nconsole.log(`[Extract Picture ID CREATE] Processing ${uploadedItems.length} uploaded items`);\n\nconst outputItems = [];\n\nfor (let i = 0; i < uploadedItems.length; i++) {\n  const uploadResponse = uploadedItems[i].json;\n  const pictureId = uploadResponse.id;\n  \n  // Try to match with download item by index or pairedItem\n  let filename = '';\n  let cache_key = '';\n  \n  // Method 1: Use pairedItem if available\n  if (uploadedItems[i].pairedItem !== undefined) {\n    const pairedIndex = uploadedItems[i].pairedItem;\n    if (downloadItems && downloadItems[pairedIndex]) {\n      filename = downloadItems[pairedIndex].json.filename || '';\n      cache_key = downloadItems[pairedIndex].json.cache_key || '';\n    }\n  }\n  \n  // Method 2: Match by index\n  if (!filename && downloadItems && downloadItems[i]) {\n    filename = downloadItems[i].json.filename || '';\n    cache_key = downloadItems[i].json.cache_key || '';\n  }\n  \n  // Method 3: Try to get from binary filename\n  if (!filename && uploadedItems[i].binary && uploadedItems[i].binary.data) {\n    filename = uploadedItems[i].binary.data.fileName || '';\n  }\n  \n  console.log(`[Extract Picture ID CREATE] Item ${i}: PictureID=${pictureId}, Filename=${filename}`);\n  \n  outputItems.push({\n    json: {\n      picture_id: pictureId,\n      filename: filename,\n      cache_key: cache_key\n    }\n  });\n}\n\nconsole.log(`[Extract Picture ID CREATE] Returning ${outputItems.length} items`);\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        1440
      ],
      "id": "94a6af87-9554-4ce2-8e3b-8be7585483d6",
      "name": "Extract Picture ID (Create)"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2832,
        992
      ],
      "id": "57e5e692-028f-4375-9fde-ba2353949a29",
      "name": "Aggregate Pictures (Update)"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2608,
        1536
      ],
      "id": "0d5727a3-96b5-4d6e-a052-24a2878e01d2",
      "name": "Aggregate Pictures (Create)"
    },
    {
      "parameters": {
        "jsCode": "// Build cache and picture IDs array - Handle both new uploads and all-cached scenarios\nconst items = $input.all();\n\nconsole.log(`[Build Cache UPDATE] ======================================`);\nconsole.log(`[Build Cache UPDATE] Received ${items.length} input items`);\n\nif (!items || items.length === 0) {\n  console.log('[Build Cache UPDATE] ERROR: No items received');\n  return [{\n    json: {\n      cache_key: '',\n      pictures: {},\n      picture_ids: [],\n      debug_error: 'No items received'\n    }\n  }];\n}\n\n// Detect source: Aggregate (has \"data\" field) or If Not Cached FALSE (direct items with picture_id)\nconst firstItem = items[0].json;\nconst isFromAggregate = firstItem.data !== undefined;\n\nconsole.log(`[Build Cache UPDATE] Source: ${isFromAggregate ? 'Aggregate (new uploads)' : 'If Not Cached FALSE (all cached)'}`);\n\n// Get existing cache from Check Cache node\nconst checkCacheItems = $('Check Cache (Update)').all();\nlet existingCache = {};\nlet cacheKey = '';\n\nif (checkCacheItems && checkCacheItems.length > 0) {\n  existingCache = checkCacheItems[0].json.image_cache || {};\n  cacheKey = checkCacheItems[0].json.cache_key || '';\n  console.log(`[Build Cache UPDATE] Existing cache: ${JSON.stringify(existingCache)}`);\n}\n\nlet pictures = {};\nlet newUploadsCount = 0;\n\nif (isFromAggregate) {\n  // Case 1: New uploads from Aggregate - combine with existing cache\n  const dataArray = firstItem.data || [];\n  newUploadsCount = dataArray.length;\n  console.log(`[Build Cache UPDATE] Processing ${newUploadsCount} new uploads`);\n  \n  // Start with existing cache\n  pictures = { ...existingCache };\n  \n  // Add new uploads\n  for (const item of dataArray) {\n    if (item.picture_id && item.filename) {\n      pictures[item.filename] = item.picture_id;\n      console.log(`[Build Cache UPDATE] Added NEW: ${item.filename} = ${item.picture_id}`);\n    }\n    if (!cacheKey && item.cache_key) {\n      cacheKey = item.cache_key;\n    }\n  }\n} else {\n  // Case 2: All items are cached - use existing cache directly\n  console.log(`[Build Cache UPDATE] All items are cached, using existing cache`);\n  pictures = { ...existingCache };\n  \n  // Get cache_key from items\n  if (!cacheKey && items[0].json.cache_key) {\n    cacheKey = items[0].json.cache_key;\n  }\n}\n\n// Build picture_ids array from final pictures\nconst pictureIds = [];\nfor (const [filename, pictureId] of Object.entries(pictures)) {\n  if (pictureId) {\n    pictureIds.push(pictureId);\n    console.log(`[Build Cache UPDATE] Final picture: ${filename} = ${pictureId}`);\n  }\n}\n\nconsole.log(`[Build Cache UPDATE] RESULT: ${pictureIds.length} pictures total (${newUploadsCount} new uploads)`);\n\nreturn [{\n  json: {\n    cache_key: cacheKey,\n    pictures: pictures,\n    picture_ids: pictureIds,\n    debug_new_uploads: newUploadsCount,\n    debug_total_pictures: pictureIds.length,\n    debug_source: isFromAggregate ? 'aggregate' : 'if_not_cached'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3056,
        992
      ],
      "id": "f06c9a96-beb9-4139-b4f6-f8f2b5d73aea",
      "name": "Build Cache (Update)"
    },
    {
      "parameters": {
        "jsCode": "// Build cache and picture IDs array - Handle both new uploads and all-cached scenarios\nconst items = $input.all();\n\nconsole.log(`[Build Cache CREATE] ======================================`);\nconsole.log(`[Build Cache CREATE] Received ${items.length} input items`);\n\nif (!items || items.length === 0) {\n  console.log('[Build Cache CREATE] ERROR: No items received');\n  return [{\n    json: {\n      cache_key: '',\n      pictures: {},\n      picture_ids: [],\n      debug_error: 'No items received'\n    }\n  }];\n}\n\n// Detect source: Aggregate (has \"data\" field) or If Not Cached FALSE (direct items with picture_id)\nconst firstItem = items[0].json;\nconst isFromAggregate = firstItem.data !== undefined;\n\nconsole.log(`[Build Cache CREATE] Source: ${isFromAggregate ? 'Aggregate (new uploads)' : 'If Not Cached FALSE (all cached)'}`);\n\n// Get existing cache from Check Cache node\nconst checkCacheItems = $('Check Cache (Create)').all();\nlet existingCache = {};\nlet cacheKey = '';\n\nif (checkCacheItems && checkCacheItems.length > 0) {\n  existingCache = checkCacheItems[0].json.image_cache || {};\n  cacheKey = checkCacheItems[0].json.cache_key || '';\n  console.log(`[Build Cache CREATE] Existing cache: ${JSON.stringify(existingCache)}`);\n}\n\nlet pictures = {};\nlet newUploadsCount = 0;\n\nif (isFromAggregate) {\n  // Case 1: New uploads from Aggregate - combine with existing cache\n  const dataArray = firstItem.data || [];\n  newUploadsCount = dataArray.length;\n  console.log(`[Build Cache CREATE] Processing ${newUploadsCount} new uploads`);\n  \n  // Start with existing cache\n  pictures = { ...existingCache };\n  \n  // Add new uploads\n  for (const item of dataArray) {\n    if (item.picture_id && item.filename) {\n      pictures[item.filename] = item.picture_id;\n      console.log(`[Build Cache CREATE] Added NEW: ${item.filename} = ${item.picture_id}`);\n    }\n    if (!cacheKey && item.cache_key) {\n      cacheKey = item.cache_key;\n    }\n  }\n} else {\n  // Case 2: All items are cached - use existing cache directly\n  console.log(`[Build Cache CREATE] All items are cached, using existing cache`);\n  pictures = { ...existingCache };\n  \n  // Get cache_key from items\n  if (!cacheKey && items[0].json.cache_key) {\n    cacheKey = items[0].json.cache_key;\n  }\n}\n\n// Build picture_ids array from final pictures\nconst pictureIds = [];\nfor (const [filename, pictureId] of Object.entries(pictures)) {\n  if (pictureId) {\n    pictureIds.push(pictureId);\n    console.log(`[Build Cache CREATE] Final picture: ${filename} = ${pictureId}`);\n  }\n}\n\nconsole.log(`[Build Cache CREATE] RESULT: ${pictureIds.length} pictures total (${newUploadsCount} new uploads)`);\n\nreturn [{\n  json: {\n    cache_key: cacheKey,\n    pictures: pictures,\n    picture_ids: pictureIds,\n    debug_new_uploads: newUploadsCount,\n    debug_total_pictures: pictureIds.length,\n    debug_source: isFromAggregate ? 'aggregate' : 'if_not_cached'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2832,
        1536
      ],
      "id": "d0f5ea85-f7ee-401c-9edc-c6809ba6ad08",
      "name": "Build Cache (Create)",
      "notes": "References Check Cache (Create)"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.cache_key }}",
        "value": "={{ JSON.stringify($json.pictures) }}",
        "keyType": "string"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3280,
        992
      ],
      "id": "9f7a5c14-e68c-4d55-9d23-86f8d6a0ce1d",
      "name": "Save Image Cache (Update)",
      "credentials": {
        "redis": {
          "id": "v44u1cVu0DFuOlru",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.cache_key }}",
        "value": "={{ JSON.stringify($json.pictures) }}",
        "keyType": "string"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3056,
        1536
      ],
      "id": "d25d4703-ebe3-421f-83ec-c0f6d7df32cb",
      "name": "Save Image Cache (Create)",
      "credentials": {
        "redis": {
          "id": "v44u1cVu0DFuOlru",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare body for UPDATE\nconst webhookBody = $('Webhook (PublishCallbacks)').first().json.body;\nconst document = webhookBody.document;\n// Get picture_ids from Build Cache node\nconst pictureData = $('Build Cache (Update)').first().json;\nconst publishCode = $('Resolve Publish Code').first().json.publish_code;\n\n// Map picture IDs to MercadoLibre format\nconst pictures = pictureData.picture_ids && pictureData.picture_ids.length > 0\n  ? pictureData.picture_ids.map(id => ({ id: id }))\n  : [];\n\n// Determine listing_type_id from M_Product.SP034_ML_PublishType\n// Java sends it as 'publish_type'. Values are ML format directly: bronze, free, gold, etc.\n\n// VALIDACIÓN DE ORIGINAL_PRICE: Si es null, undefined, 0 o vacío, se asigna null\nconst validatedOriginalPrice = (document.original_price === null || document.original_price === undefined || document.original_price === 0 || document.original_price === '') \n  ? null \n  : document.original_price;\n\nconst updateData = {\n  price: document.price,\n  available_quantity: document.available_quantity,\n  pictures: pictures,\n  status: 'active'\n};\n\n// TODO: Only when created\n// // Only include listing_type_id if explicitly provided (upgrading plan)\n// const publishType = webhookBody.publish_type || document.listing_type_id || null;\n// if (publishType) {\n//  updateData.listing_type_id = publishType;\n// }\n\nif (document.code) {\n  updateData.attributes = [{ id: 'SELLER_SKU', value_name: String(document.code) }];\n}\n\nreturn [{\n  json: {\n    body: updateData,\n    publish_code: publishCode\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3504,
        992
      ],
      "id": "1ea034bb-2579-4fc3-92ca-eb6e3d7393c0",
      "name": "Prepare Update Body"
    },
    {
      "parameters": {
        "jsCode": "// Prepare body for CREATE\nconst webhookBody = $('Webhook (PublishCallbacks)').first().json.body;\nconst document = webhookBody.document;\n// Get picture_ids from Build Cache node (may not have run if no media)\nlet pictureData = { picture_ids: [] };\ntry { pictureData = $('Build Cache (Create)').first().json; } catch (e) {}\n\n// Map picture IDs to MercadoLibre format\nconst pictures = pictureData.picture_ids && pictureData.picture_ids.length > 0\n  ? pictureData.picture_ids.map(id => ({ id: id }))\n  : [];\n\n// Determine condition\nlet condition = 'new';\nconst rawCondition = webhookBody.item_condition;\nif (rawCondition) {\n  const c = rawCondition.toLowerCase();\n  if (c === 'new' || c === 'n') condition = 'new';\n  else if (c === 'used' || c === 'u') condition = 'used';\n  else if (c === 'not_specified' || c === 'ns') condition = 'not_specified';\n  else condition = rawCondition;\n}\n\n// Determine listing_type_id\nconst publishType = webhookBody.publish_type || document.listing_type_id || 'free';\nconst listingTypeId = publishType === '' ? 'free' : publishType;\n\n// Filter attributes\nconst attributes = document.attributes != null ? document.attributes\n  .filter(attr => attr.id !== 'ITEM_CONDITION' && (attr.value || attr.name))\n  .map(attribute => ({\n    id: attribute.id,\n    value_name: (attribute.name != null ? attribute.name : attribute.value)\n  })) : [];\n\n// GTIN: required (conditional) for many MELI categories. Map from the product barcode/EAN.\nif (document.barcode && String(document.barcode).trim() !== '' && !attributes.some(a => a.id === 'GTIN')) {\n  attributes.push({ id: 'GTIN', value_name: String(document.barcode).trim() });\n}\n\n// Determine if family_name is required via technical_specs/input\n// If family_name appears in any group's attributes, it's required\nlet useFamilyName = false;\ntry {\n  // Catalog categories (settings.catalog_domain present) require family_name instead of title.\n  // family_name is NOT listed in technical_specs/input, so detect it via the category's catalog_domain.\n  const categoryInfo = $('Get Category Info (Create)').first().json;\n  useFamilyName = !!(categoryInfo && categoryInfo.settings && categoryInfo.settings.catalog_domain);\n} catch (e) {}\n\n// VALIDACIÓN DE ORIGINAL_PRICE: Si es null, undefined, 0 o vacío, se asigna null\nconst validatedOriginalPrice = (document.original_price === null || document.original_price === undefined || document.original_price === 0 || document.original_price === '') \n  ? null \n  : document.original_price;\n\nconst transformedData = {\n  category_id: document.category_id,\n  price: document.price,\n  currency_id: document.currency_code,\n  available_quantity: document.available_quantity,\n  buying_mode: document.buying_mode,\n  listing_type_id: listingTypeId,\n  condition: condition,\n  attributes: attributes,\n  sale_terms: [\n    { \"id\": \"WARRANTY_TYPE\", \"value_name\": \"Garantía del vendedor\" },\n    { \"id\": \"WARRANTY_TIME\", \"value_name\": \"90 días\" }\n  ],\n  pictures: pictures\n};\n\nif (useFamilyName) {\n  transformedData.family_name = document.title;\n} else {\n  transformedData.title = document.title;\n}\n\nreturn [{ json: { body: transformedData } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3280,
        1536
      ],
      "id": "27b06768-6e06-408a-98c7-296469f3a24b",
      "name": "Prepare Create Body"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.mercadolibre.com/items/{{ $json.publish_code }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Access Token (Update)').first().json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3744,
        992
      ],
      "id": "0b5c0d24-63b4-4384-bdad-d1576e94fed4",
      "name": "Update Product",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mercadolibre.com/items",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Access Token (Create)').first().json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3504,
        1536
      ],
      "id": "23f493f5-5761-4304-99fd-743ab0c427bc",
      "name": "Create Product",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Success Response Handler\nconst webhookData = $('Webhook (PublishCallbacks)').first().json.body;\nconst productResponse = $input.first().json;\n\n// Extract publication data from MercadoLibre response\nconst publicationId = productResponse.id || null;\nconst publicationUrl = productResponse.permalink || null;\nconst productCode = webhookData?.document?.code || \"unknown\";\nconst mlStatus = productResponse.status || null; // Extract status from ML response\n\nreturn [{\n  json: {\n    success: true,\n    publication_id: publicationId,\n    publication_url: publicationUrl,\n    product_code: productCode,\n    new_status: mlStatus, // Include status for Java backend\n    message: mlStatus ? `Product status changed to ${mlStatus} successfully` : \"Product published successfully to MercadoLibre\",\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3968,
        1280
      ],
      "id": "61dbdc24-e4ec-4a4e-b7ff-d5bcc26c371a",
      "name": "Success Response"
    },
    {
      "parameters": {
        "jsCode": "// Error Handler - Formats error response for backend\nconst webhookData = $('Webhook (PublishCallbacks)').first().json.body;\n\n// In n8n continueErrorOutput, error is merged into item.json alongside the original data.\n// $input.first().json.error contains the AxiosError (message, status, etc.)\n// $input.item.error contains n8n-level error metadata (may be undefined in some versions)\nconst jsonError = $input.first().json?.error || null;\nconst itemError = $input.item?.error || null;\nconst error = (itemError && Object.keys(itemError).length > 0) ? itemError : (jsonError || {});\n\nlet errorMessage = 'Unknown error occurred';\nlet httpResponseBody = null;\n\n// Strategy 1: n8n item-level error has context.responseBody (direct ML response)\nif (itemError && itemError.context && itemError.context.responseBody) {\n  try {\n    httpResponseBody = JSON.parse(itemError.context.responseBody);\n  } catch(e) {\n    httpResponseBody = { raw: itemError.context.responseBody };\n  }\n}\n\n// Strategy 2: Parse the HTTP error message string \"400 - \\\"{...}\\\"\" from jsonError\nif (!httpResponseBody && jsonError && jsonError.message) {\n  const match = jsonError.message.match(/^\\d+ - \"(.+)\"$/s);\n  if (match) {\n    try {\n      httpResponseBody = JSON.parse(match[1].replace(/\\\\\"/g, '\"'));\n    } catch(e) {\n      httpResponseBody = { raw: match[1] };\n    }\n  } else {\n    errorMessage = jsonError.message;\n  }\n}\n\n// Extract human-readable message from ML response\nif (httpResponseBody) {\n  if (httpResponseBody.cause && httpResponseBody.cause.length > 0) {\n    const errors = httpResponseBody.cause.filter(c => c.type === 'error');\n    if (errors.length > 0) {\n      errorMessage = 'MercadoLibre: ' + errors.map(c => c.message || c.code).join('; ');\n    } else if (httpResponseBody.message) {\n      errorMessage = 'MercadoLibre: ' + httpResponseBody.message;\n    }\n  } else if (httpResponseBody.message) {\n    errorMessage = 'MercadoLibre: ' + httpResponseBody.message;\n  } else if (httpResponseBody.error) {\n    errorMessage = 'MercadoLibre: ' + httpResponseBody.error;\n  }\n} else if (error.message) {\n  errorMessage = error.message;\n}\n\nreturn [{\n  json: {\n    success: false,\n    error: `Error in workflow: ${errorMessage}`,\n    error_details: {\n      message: errorMessage,\n      product_code: webhookData?.document?.code || 'unknown',\n      timestamp: new Date().toISOString(),\n      ml_response: httpResponseBody,\n      http_status: jsonError?.status || null\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3968,
        1616
      ],
      "id": "cb1db6fd-65ed-4da5-983e-552e0472886d",
      "name": "Error Response"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "publish_code",
        "key": "={{ $workflow.id + '_' + $json.body.document.client + '-' + $json.body.document.code }}",
        "keyType": "string",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -576,
        1232
      ],
      "id": "868358b2-5ded-40dc-a681-2903de3ae921",
      "name": "Get Publish ID",
      "credentials": {
        "redis": {
          "id": "v44u1cVu0DFuOlru",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $workflow.id + '_' + $('Webhook (PublishCallbacks)').first().json.body.document.client + '-' + $('Webhook (PublishCallbacks)').first().json.body.document.code }}",
        "value": "={{ $json.id }}",
        "keyType": "string"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3744,
        1440
      ],
      "id": "791a8651-38d3-4d3a-b87b-669fd1229628",
      "name": "Set Publish ID",
      "credentials": {
        "redis": {
          "id": "v44u1cVu0DFuOlru",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0e9ea86c-4d03-4a94-8eec-b2e306f9cb92",
              "leftValue": "={{ $('Webhook (PublishCallbacks)').item.json.body.attributes.sp034_publish_status }}",
              "rightValue": "=P",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        816,
        1088
      ],
      "id": "42f50943-9aad-4af6-8240-0e1d5c9c11e6",
      "name": "If Publush / Pause / Close",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "// Prepare body for UPDATE\nconst document = $('Webhook (PublishCallbacks)').first().json.body.document;\nconst publishCode = $('Get Publish ID').first().json.publish_code;\n\n// change status\nlet publishStatus = '';\nif (document.publish_status == 'O') {\n  publishStatus = 'paused';\n} else if (document.publish_status == 'C') {\n  publishStatus = 'closed';\n}\n\nconst updateData = {\n  status: publishStatus\n};\n\nreturn [{\n  json: {\n    body: updateData,\n    publish_code: publishCode\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3504,
        1248
      ],
      "id": "6adba9f7-02c7-4101-a950-2e387179dcfd",
      "name": "Prepare Paused/Close Body"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.mercadolibre.com/items/{{ $json.publish_code }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Access Token (Update)').first().json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3744,
        1248
      ],
      "id": "ebc7dff0-8dd1-488a-aa04-d15634118f63",
      "name": "Change Publush Status"
    },
    {
      "parameters": {
        "jsCode": "// Transform cached items to Extract Picture ID format\nconst items = $input.all();\n\nconsole.log(`[Extract Cached Picture ID UPDATE] Processing ${items.length} cached items`);\n\nconst outputItems = [];\n\nfor (const item of items) {\n    const json = item.json;\n    \n    outputItems.push({\n        json: {\n            picture_id: json.picture_id,\n            filename: json.filename,\n            cache_key: json.cache_key\n        }\n    });\n    \n    console.log(`[Extract Cached Picture ID UPDATE] ${json.filename} → ${json.picture_id}`);\n}\n\nconsole.log(`[Extract Cached Picture ID UPDATE] Returning ${outputItems.length} items`);\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2384,
        1104
      ],
      "id": "e39c3d17-7a79-45e0-9936-415fe948ca87",
      "name": "Extract Cached Picture ID (Update)"
    },
    {
      "parameters": {
        "jsCode": "// Transform cached items to Extract Picture ID format\nconst items = $input.all();\n\nconsole.log(`[Extract Cached Picture ID CREATE] Processing ${items.length} cached items`);\n\nconst outputItems = [];\n\nfor (const item of items) {\n    const json = item.json;\n    \n    outputItems.push({\n        json: {\n            picture_id: json.picture_id,\n            filename: json.filename,\n            cache_key: json.cache_key\n        }\n    });\n    \n    console.log(`[Extract Cached Picture ID CREATE] ${json.filename} → ${json.picture_id}`);\n}\n\nconsole.log(`[Extract Cached Picture ID CREATE] Returning ${outputItems.length} items`);\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        1632
      ],
      "id": "faa32406-fdc8-48bb-be31-3c02f8556d66",
      "name": "Extract Cached Picture ID (Create)"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2608,
        992
      ],
      "id": "55559724-a340-49d5-bfb0-e50b98008ae7",
      "name": "Merge Pictures (Update)"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2384,
        1536
      ],
      "id": "a96f462e-c036-404d-9349-bfae351dff4b",
      "name": "Merge Pictures (Create)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-media",
              "leftValue": "={{ ($('Webhook (PublishCallbacks)').first().json.body.media ?? []).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        640,
        1664
      ],
      "id": "82719cb4-b5f0-43d6-ab40-dc55b534e98b",
      "name": "IF Has Media (Create)"
    },
    {
      "parameters": {
        "jsCode": "// No media files: pass through with empty pictures so Create Product can run\nreturn [{ json: { no_media: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3056,
        1760
      ],
      "id": "d381a0bb-6d64-4f1e-9e07-890bf9ac4458",
      "name": "No Pictures (Create)"
    },
    {
      "parameters": {
        "url": "=https://api.mercadolibre.com/categories/{{ $('Webhook (PublishCallbacks)').first().json.body.document.category_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Access Token (Create)').first().json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        1600
      ],
      "id": "7c8f9429-1f17-435c-96d6-10478a3f99be",
      "name": "Get Category Info (Create)"
    },
    {
      "parameters": {
        "url": "https://api.mercadolibre.com/users/me",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Access Token (Create)').first().json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        1600
      ],
      "id": "6fb5a55d-a1c0-4237-a5fb-596572272a5f",
      "name": "Get Seller Id",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://api.mercadolibre.com/users/{{ $('Get Seller Id').first().json.id }}/items/search?seller_sku={{ encodeURIComponent($('Webhook (PublishCallbacks)').first().json.body.document.code) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Access Token (Create)').first().json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        1600
      ],
      "id": "fb1fbd69-a10a-4b83-8d4d-e48cec38d916",
      "name": "Search By SKU",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-meli-item",
              "leftValue": "={{ ($json.results || []).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        240,
        1600
      ],
      "id": "6446cfd9-5c4d-4057-b290-7d18faa56ed2",
      "name": "If In MELI"
    },
    {
      "parameters": {
        "jsCode": "// Resolve the existing ML item id, by priority:\n// 1) ADempiere's stored publication code (most authoritative, survives Redis flush)\n// 2) Redis cache (Get Publish ID)\n// 3) MELI search by SELLER_SKU (Search By SKU)\nlet code = '';\ntry {\n  const body = $('Webhook (PublishCallbacks)').first().json.body;\n  code = (body.document && body.document.publication_code)\n      || (body.attributes && body.attributes.sp034_publication_code) || '';\n} catch (e) {}\nif (!code) { try { code = $('Get Publish ID').first().json.publish_code || ''; } catch (e) {} }\nif (!code) {\n  try {\n    const r = $('Search By SKU').first().json;\n    const results = (r && r.results) || [];\n    code = results.length ? results[0] : '';\n  } catch (e) {}\n}\nreturn [{ json: { publish_code: code } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        1136
      ],
      "id": "2a5ffd18-7f32-42a0-8644-2493dc9a3099",
      "name": "Resolve Publish Code"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Extract topic + resource id from Meli notification body.\n// Meli sends: { resource: '/orders/2000003508419013', topic: 'orders_v2', user_id, ... }\nconst webhook = $('Meli Orders').item.json;\nconst body = webhook.body || webhook;\nconst topic = body.topic;\nconst resource = body.resource || '';\nconst resourceId = resource.split('/').filter(Boolean).pop();\n\nif (!resourceId) {\n  throw new Error('Missing resource id in Meli notification');\n}\n\nreturn { json: { meli_order_id: resourceId, topic, sent_at: body.sent } };"
      },
      "id": "db486e9d-63ef-4f9c-a803-fc145e4e61bf",
      "name": "Parse Notification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        -48
      ]
    },
    {
      "parameters": {
        "url": "=https://api.mercadolibre.com/orders/{{ $json.meli_order_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Token2').item.json.access_token }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "bc1a1fa4-be9e-4a55-947f-64ec2c26b360",
      "name": "Get Meli Order",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        304,
        -48
      ]
    },
    {
      "parameters": {
        "url": "=https://api.mercadolibre.com/shipments/{{ $json.shipping?.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Token2').item.json.access_token }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "c636f9b4-5bca-4404-92af-443e05b9e9fd",
      "name": "Get Meli Shipment (for address)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        528,
        -48
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Default Values').first().json.base_url }}/v1/store/orders/import",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Tenant",
              "value": "={{ $('Default Values').first().json.tenant }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('build_payload').first().json) }}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "ed6eab59-1ff0-443a-83f3-6e7c08652a20",
      "name": "POST Sabana /orders/import",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        -48
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "EK2jXtQzEdRJVxb2",
          "name": "dyd-prod meli"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "access_token",
        "key": "={{ $workflow.id + '_access_token' }}",
        "keyType": "string",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -368,
        -48
      ],
      "id": "1747e90e-e39b-4099-891d-2e816d569fe9",
      "name": "Get Token2",
      "credentials": {
        "redis": {
          "id": "v44u1cVu0DFuOlru",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e5e5625f-097f-4ecf-a3f5-1fa6fa09f05c",
              "name": "tenant",
              "value": "dyd-2305-qa-d5",
              "type": "string"
            },
            {
              "id": "5b53dca7-f2ef-4197-b98d-639463b08c8d",
              "name": "base_url",
              "value": "https://sabana.d5.solopcloud.com",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -144,
        -48
      ],
      "id": "1eea3338-c0c4-4e98-99b8-8c5d53588171",
      "name": "Default Values"
    },
    {
      "parameters": {
        "url": "=https://api.mercadolibre.com/orders/billing-info/{{ $('Get Meli Order').first().json.context.site }}/{{ $('Get Meli Order').first().json.buyer.billing_info.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Token2').item.json.access_token }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "739bc24b-892d-4d2d-a6d4-dc947b969c71",
      "name": "get_billing_info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        752,
        -48
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$('Meli Orders').item.json.body.topic}}",
                    "rightValue": "orders_v2",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "784dfa9b-010f-4d9c-8f18-ef271e5c3aa5"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -592,
        -48
      ],
      "id": "1d31e1e7-c4b1-4808-94e1-6f24679e2a8a",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "// Merge order + shipment + billing_info into the canonical Sabana payload.\n// Sources (read by node name so reordering does not break the flow):\n//   - Get Meli Order            : order header, buyer (basic), order_items, payments\n//   - Get Meli Shipment         : receiver_address (preferred for shipping), receiver_phone, shipping cost, ETA\n//   - Get Meli Billing Info     : identification (type+number) → TaxGroup+TaxID, fiscal name split, fiscal address fallback\nconst order = $('Get Meli Order').first().json;\nconst shipment = (() => { try { return $('Get Meli Shipment').first().json || {}; } catch (e) { return {}; } })();\nconst billing = (() => {\n  try { return ($('get_billing_info').first().json || {}).buyer?.billing_info || {}; }\n  catch (e) { return {}; }\n})();\n\n// --- Address: prefer shipment, fall back to billing_info.address ---\nconst recv  = shipment.receiver_address || {};\nconst bAddr = billing.address || {};\nconst useShip = !!(recv.street_name || recv.address_line);\n\nconst street  = useShip\n    ? [recv.street_name, recv.street_number].filter(Boolean).join(' ').trim()\n    : [bAddr.street_name, bAddr.street_number].filter(Boolean).join(' ').trim();\nconst city    = useShip ? (recv.city?.name || '') : (bAddr.city_name || '');\nconst region  = useShip ? (recv.state?.name || '') : (bAddr.state?.name || '');\nconst country = useShip ? (recv.country?.id || '') : (bAddr.country_id || '');\nconst postal  = useShip ? (recv.zip_code || '') : (bAddr.zip_code || '');\nconst comment = useShip ? (recv.comment || '') : '';\nconst locName = useShip ? (recv.receiver_name || street) : street;\nconst phone   = useShip ? (recv.receiver_phone || '') : '';\n\n// --- Identification → tax group + tax id ---\nconst ident    = billing.identification || {};\nconst taxId    = ident.number || '';\nconst taxGroup = ident.type   || '';   // 'CI' | 'RUT' | 'DNI' | …\n\n// --- Name: billing_info wins (fiscal); fallback to order.buyer ---\nconst firstName = billing.name      || order.buyer?.first_name || '';\nconst lastName  = billing.last_name || order.buyer?.last_name  || '';\n\n// --- Freight: shipment.shipping_option.cost → payments[0].shipping_cost → 0 ---\nconst freight = shipment?.shipping_option?.cost\n              ?? order.payments?.[0]?.shipping_cost\n              ?? 0;\n\n// --- ETA ---\nconst datePromised = shipment?.shipping_option?.estimated_delivery_time?.date?.substring(0,10) || null;\n\n// --- Currency / dates ---\nconst currencyIso = order.currency_id || 'USD';\nconst dateOrdered = (order.date_created || new Date().toISOString()).substring(0,10);\n\nconst payload = {\n  store: { StoreCode: 'Mercado Libre' },\n  order: {\n    DocTypeName: null,\n    CurrencyISOCode: currencyIso,\n    PaymentRule: 'P',\n    DateOrdered: dateOrdered,\n    DatePromised: datePromised,\n    DocumentNo: order.id,\n    Description: `Pedido MercadoLibre #${order.id} - Canal: ${order.context?.site || ''}`.trim(),\n    FreightAmt: freight,\n    FreightCostRule: 'I'\n  },\n  bpartner: {\n    BPartnerValue: 'MELI-' + (order.buyer?.id || ''),\n    Name:  firstName,\n    Name2: lastName,\n    TaxID: taxId,\n    TaxGroupName: taxGroup,\n    IsCustomer: 'Y',\n    IsVendor: 'N'\n  },\n  bpartner_location: {\n    LocationName: locName || ('Meli buyer ' + (order.buyer?.id || '')),\n    Address1: street || (useShip ? (recv.address_line || '') : ''),\n    Address2: comment,\n    City: city,\n    RegionName: region,\n    CountryCode: country,\n    PostalCode: postal,\n    Phone: phone,\n    IsShipTo: 'Y',\n    IsBillTo: 'Y'\n  },\n  order_lines: (order.order_items || []).map((it, idx) => {\n    const item = it.item || {};\n    return {\n      Line: (idx + 1) * 10,\n      ProductPublicationCode: item.id,\n      PublishCode: item.id,\n      ProductValue: item.seller_sku,\n      ProductName: item.title,\n      QtyOrdered: it.quantity,\n      PriceActual: it.unit_price,\n      PriceList: (it.gross_price != null ? it.gross_price : it.unit_price),\n      Discount: 0,\n      Description: [item.title, item.condition ? `Condición: ${item.condition}` : '']\n                     .filter(Boolean).join(' — ')\n    };\n  })\n};\n\nreturn [{ json: payload }];"
      },
      "id": "13386aaa-49db-4199-978a-b1007bf7a6dc",
      "name": "build_payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        -48
      ]
    },
    {
      "parameters": {
        "url": "=https://api.mercadolibre.com/shipment_labels?shipment_ids={{ $('Get Meli Order').item.json.shipping.id }}&response_type=pdf",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Token2').item.json.access_token }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "270d5eb3-ee37-4f85-ac2a-5a8aabfbfe65",
      "name": "Get Meli Shipment Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1648,
        -48
      ]
    },
    {
      "parameters": {
        "jsCode": "// Obtenemos el primer ítem del flujo\nconst item = $input.first();\n\n// Extraemos los metadatos de la propiedad binaria llamada 'data'\nconst fileMetadata = item.binary.data;\nconst sizeString = fileMetadata.fileSize; // Esto es \"71.3 kB\" o \"2.5 MB\", etc.\nconst rawName = fileMetadata.fileName; \nconst match = rawName.match(/shipment_ids=(\\d+)/);\nconst cleanName = match ? `${match[1]}.pdf` : rawName;\n\n// Extraemos el número (ej: 71.3)\nconst number = parseFloat(sizeString);\n  \n// Detectamos la unidad (B, kB, MB)\nlet sizeInBytes = number;\nif (sizeString.includes('kB')) {\n  sizeInBytes = Math.round(number * 1024);\n} else if (sizeString.includes('MB')) {\n  sizeInBytes = Math.round(number * 1024 * 1024);\n} else if (sizeString.includes('GB')) {\n  sizeInBytes = Math.round(number * 1024 * 1024 * 1024);\n}\n\n// --- EL CAMBIO CLAVE PARA EL NUEVO MOTOR BINARIO DE n8n ---\n// Clonamos la estructura binaria original para mantener la referencia física del archivo\nconst newBinaryData = { ...item.binary };\n\n// Modificamos el fileName dentro de los metadatos internos del binario\nif (newBinaryData.data) {\n  newBinaryData.data = {\n    ...newBinaryData.data,\n    fileName: cleanName\n  };\n}\n\nreturn {\n  json: {\n    fileName: cleanName,\n    fileExtension: fileMetadata.fileExtension,\n    mimeType: fileMetadata.mimeType,\n    fileSize: sizeInBytes\n  },\n  // Retornamos el binario clonado y actualizado con el nombre correcto\n  binary: newBinaryData\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1904,
        -48
      ],
      "id": "ba27a3e4-d5a3-41fc-90c7-418c0de3ffe0",
      "name": "Convert File Metadata Info"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Default Values').item.json.base_url }}/v1/business/attachments/upload-url",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Tenant",
              "value": "={{ $('Default Values').item.json.tenant }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"table_name\": \"M_Package\",\n    \"record_id\": {{ $('Create Package').item.json.id }},\n    \"file_name\": \"{{ $json.fileName }}\",\n    \"content_type\": \"{{ $json.mimeType }}\",\n    \"file_size\": {{ $json.fileSize }},\n    \"description\": \"Creado dese Meli Callback\",\n    \"title\": \"{{ $json.fileName }}\"\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "a6485d3e-0a65-41f6-8d44-ec41962e24b6",
      "name": "Get Presigned-URL Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2416,
        -48
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "EK2jXtQzEdRJVxb2",
          "name": "dyd-prod meli"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Obtenemos el primer ítem específicamente del nodo \"Get Meli Shipment\"\nconst item = $items(\"Get Meli Shipment Info\")[0];\n\nif (!item || !item.binary || !item.binary.data) {\n  throw new Error(\"No se encontró el archivo binario 'data' en el nodo Get Meli Shipment\");\n}\n\nconst fileMetadata = item.binary.data;\nconst rawName = fileMetadata.fileName; \n\n// 2. Limpiamos el nombre usando tu expresión regular (RegEx)\nconst match = rawName.match(/shipment_ids=(\\d+)/);\nconst cleanName = match ? `${match[1]}.pdf` : rawName;\n\n// 3. LA SOLUCIÓN DEFINITIVA PARA EL NUEVO MOTOR BINARIO:\n// Usamos el helper oficial para clonar físicamente el archivo evitando errores circulares\nconst newBinaryData = { ...item.binary };\n\n// Modificamos el fileName dentro de los metadatos internos del binario\nif (newBinaryData.data) {\n  newBinaryData.data = {\n    ...newBinaryData.data,\n    fileName: cleanName\n  };\n}\n// Retornamos únicamente la estructura JSON básica que requiere n8n y el binario modificado\nreturn {\n  json: {\n    message: \"Archivo procesado correctamente\"\n  },\n  binary: newBinaryData\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2592,
        -48
      ],
      "id": "f38bda52-690c-4f76-9515-7d3480f393a7",
      "name": "Get File from Local Storage Info"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $('Get Presigned-URL Info').item.json.upload_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "={{ $('Convert File Metadata Info').item.json.mimeType }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "timeout": 15000
        }
      },
      "id": "4bf5ccb6-3f6d-4bb8-9980-33aa2891feea",
      "name": "PUT File Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2816,
        -48
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Default Values').item.json.base_url }}/v1/business/attachments/confirm",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Tenant",
              "value": "={{ $('Default Values').item.json.tenant }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"table_name\": \"M_Package\",\n    \"record_id\": {{ $('Create Package').item.json.id }},\n    \"file_name\": \"{{ $('Convert File Metadata Info').item.json.fileName }}\",\n    \"content_type\": \"{{ $('Convert File Metadata Info').item.json.mimeType }}\",\n    \"file_size\": {{ $('Convert File Metadata Info').item.json.fileSize }},\n    \"description\": \"Creado dese Meli Callback\",\n    \"title\": \"{{ $('Convert File Metadata Info').item.json.fileName }}\"\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "a0ab61e2-2c14-4e38-886f-23bc0f277b2f",
      "name": "Confirm Upload Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3040,
        -48
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "EK2jXtQzEdRJVxb2",
          "name": "dyd-prod meli"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cd0db460-c8f4-492b-9638-2f095175c6cf",
              "leftValue": "={{ $('Get Meli Order').item.json.shipping.id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1424,
        -48
      ],
      "id": "e2932073-c889-48f3-b907-a42d64d54cf6",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Default Values').item.json.base_url }}/v1/inventory/packages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Tenant",
              "value": "={{ $('Default Values').item.json.tenant }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"order_id\": {{ $('POST Sabana /orders/import').item.json.order_id }},\n    \"tracking_info\": \"{{ $('Get Meli Shipment (for address)').item.json.tracking_method }} - {{ $('Get Meli Shipment (for address)').item.json.tracking_number }}\",\n    \"description\": \"{{ $('Get Meli Shipment (for address)').item.json.shipping_option.name }} - {{ $('Get Meli Order').item.json.order_items[0].item.title }}\"\n}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2144,
        -48
      ],
      "id": "c627051f-1a94-4cb9-8b0e-4c5bfa355b6b",
      "name": "Create Package",
      "credentials": {
        "httpBearerAuth": {
          "id": "EK2jXtQzEdRJVxb2",
          "name": "dyd-prod meli"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "access_token",
        "key": "={{ $workflow.id + '_access_token' }}",
        "keyType": "string",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -560,
        576
      ],
      "id": "28fb28a7-ccbc-45fd-88d0-276ac6d82369",
      "name": "Get Token1",
      "credentials": {
        "redis": {
          "id": "v44u1cVu0DFuOlru",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.mercadolibre.com/categories/{{ $('Webhook Get Attributes').item.json.query.category_id }}/attributes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Token1').item.json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -336,
        576
      ],
      "id": "41944d8e-85c5-435e-8e22-aa6118869d9a",
      "name": "Get Meli Attributes1"
    },
    {
      "parameters": {
        "path": "fbd3d2b8-f440-4449-8429-64af0032eae9",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -784,
        576
      ],
      "id": "56221af5-a4ca-462f-a745-6f1531ad52f3",
      "name": "Webhook Get Attributes",
      "webhookId": "fbd3d2b8-f440-4449-8429-64af0032eae9"
    },
    {
      "parameters": {
        "jsCode": "// Enriquece atributos string con sugerencias (p. ej. BRAND, COLOR) con la lista COMPLETA\n// de valores desde el endpoint top_values del catalog_domain de MELI (incluye marcas que\n// no entran en el top de la categoría, p. ej. Kassel). Si algo falla, deja los valores de\n// la categoría como estaban. value_type se mantiene tal cual (no cambia el tipo en SP034).\nconst token = $('Get Token1').first().json.access_token;\nconst categoryId = $('Webhook Get Attributes').first().json.query.category_id;\n\n// 1) Dominio de catálogo de la categoría (para armar la URL de top_values)\nlet domain = null;\ntry {\n  const category = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `https://api.mercadolibre.com/categories/${categoryId}`,\n    headers: { Authorization: `Bearer ${token}` },\n    json: true\n  });\n  domain = (category && category.settings && category.settings.catalog_domain) || null;\n} catch (e) {}\n\nconst items = $input.all().map(v => v.json);\nconst result = [];\n\nfor (const attribute of items) {\n  let values = Array.isArray(attribute.values) ? attribute.values : [];\n\n  // Solo string con sugerencias: traer la lista completa (top_values).\n  const isStringWithValues = attribute.value_type === 'string' && values.length > 0;\n  if (domain && isStringWithValues) {\n    try {\n      const topValues = await this.helpers.httpRequest({\n        method: 'POST',\n        url: `https://api.mercadolibre.com/catalog_domains/${domain}/attributes/${attribute.id}/top_values`,\n        headers: { Authorization: `Bearer ${token}`, 'Content-Type': 'application/json' },\n        body: { known_attributes: [] },\n        json: true\n      });\n      if (Array.isArray(topValues) && topValues.length > 0) {\n        values = topValues;\n      }\n    } catch (e) {}\n  }\n\n  result.push({\n    code: attribute.id,\n    name: attribute.name,\n    description: attribute.hint,\n    mandatory: !!(attribute.tags && (attribute.tags.required || attribute.tags.catalog_required)),\n    max_length: attribute.value_max_length,\n    value_type: attribute.value_type,\n    default_unit: attribute.default_unit,\n    allowed_units: attribute.allowed_units,\n    values: values.map(v => ({ code: v.id, name: v.name }))\n  });\n}\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        576
      ],
      "id": "47a04153-f3ff-4ce8-a63c-f3363ad5e8d7",
      "name": "Merge Attributes"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook (Auth)": {
      "main": [
        [
          {
            "node": "Meli Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Refresh Token": {
      "main": [
        [
          {
            "node": "Get Current Refresh Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Get Category": {
      "main": [
        [
          {
            "node": "Workflow Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Config": {
      "main": [
        [
          {
            "node": "Get Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Token": {
      "main": [
        [
          {
            "node": "Get Meli Categories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Meli Categories": {
      "main": [
        [
          {
            "node": "Merge Requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Get Token": {
      "main": [
        [
          {
            "node": "Set Mercadolibre Refresh Token",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Mercadolibre Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meli Values": {
      "main": [
        [
          {
            "node": "Is Refresh Token?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current Refresh Token": {
      "main": [
        [
          {
            "node": "Has Refresh Token?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Refresh Token?": {
      "main": [
        [
          {
            "node": "Meli Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Refresh Token?": {
      "main": [
        [
          {
            "node": "HTTP Get Token",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get First Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get First Token": {
      "main": [
        [
          {
            "node": "Set Mercadolibre Refresh Token from Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Mercadolibre Refresh Token from Code": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meli Orders": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (PublishCallbacks)": {
      "main": [
        [
          {
            "node": "Get Publish ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Publication Exists": {
      "main": [
        [
          {
            "node": "Resolve Publish Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Access Token (Create)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Access Token (Update)": {
      "main": [
        [
          {
            "node": "If Publush / Pause / Close",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Access Token (Create)": {
      "main": [
        [
          {
            "node": "Get Seller Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Media Files (Update)": {
      "main": [
        [
          {
            "node": "Get Image Cache (Update)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Media Files (Create)": {
      "main": [
        [
          {
            "node": "Get Image Cache (Create)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image Cache (Update)": {
      "main": [
        [
          {
            "node": "Check Cache (Update)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image Cache (Create)": {
      "main": [
        [
          {
            "node": "Check Cache (Create)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Cache (Update)": {
      "main": [
        [
          {
            "node": "If Not Cached (Update)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Cache (Create)": {
      "main": [
        [
          {
            "node": "If Not Cached (Create)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Not Cached (Update)": {
      "main": [
        [
          {
            "node": "Download from S3 (Update)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Cached Picture ID (Update)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Not Cached (Create)": {
      "main": [
        [
          {
            "node": "Download from S3 (Create)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Cached Picture ID (Create)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download from S3 (Update)": {
      "main": [
        [
          {
            "node": "Upload to ML (Update)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download from S3 (Create)": {
      "main": [
        [
          {
            "node": "Upload to ML (Create)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to ML (Update)": {
      "main": [
        [
          {
            "node": "Extract Picture ID (Update)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to ML (Create)": {
      "main": [
        [
          {
            "node": "Extract Picture ID (Create)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Picture ID (Update)": {
      "main": [
        [
          {
            "node": "Merge Pictures (Update)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Picture ID (Create)": {
      "main": [
        [
          {
            "node": "Merge Pictures (Create)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Pictures (Update)": {
      "main": [
        [
          {
            "node": "Build Cache (Update)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Pictures (Create)": {
      "main": [
        [
          {
            "node": "Build Cache (Create)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Cache (Update)": {
      "main": [
        [
          {
            "node": "Save Image Cache (Update)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Cache (Create)": {
      "main": [
        [
          {
            "node": "Save Image Cache (Create)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Image Cache (Update)": {
      "main": [
        [
          {
            "node": "Prepare Update Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Image Cache (Create)": {
      "main": [
        [
          {
            "node": "Prepare Create Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Update Body": {
      "main": [
        [
          {
            "node": "Update Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Create Body": {
      "main": [
        [
          {
            "node": "Create Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Product": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Product": {
      "main": [
        [
          {
            "node": "Set Publish ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Publish ID": {
      "main": [
        [
          {
            "node": "If Publication Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Publish ID": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Publush / Pause / Close": {
      "main": [
        [
          {
            "node": "Process Media Files (Update)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Paused/Close Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Paused/Close Body": {
      "main": [
        [
          {
            "node": "Change Publush Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Change Publush Status": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Cached Picture ID (Update)": {
      "main": [
        [
          {
            "node": "Merge Pictures (Update)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract Cached Picture ID (Create)": {
      "main": [
        [
          {
            "node": "Merge Pictures (Create)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Pictures (Update)": {
      "main": [
        [
          {
            "node": "Aggregate Pictures (Update)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Pictures (Create)": {
      "main": [
        [
          {
            "node": "Aggregate Pictures (Create)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has Media (Create)": {
      "main": [
        [
          {
            "node": "Process Media Files (Create)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Pictures (Create)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Pictures (Create)": {
      "main": [
        [
          {
            "node": "Prepare Create Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Category Info (Create)": {
      "main": [
        [
          {
            "node": "IF Has Media (Create)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Seller Id": {
      "main": [
        [
          {
            "node": "Search By SKU",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search By SKU": {
      "main": [
        [
          {
            "node": "If In MELI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If In MELI": {
      "main": [
        [
          {
            "node": "Resolve Publish Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Category Info (Create)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Publish Code": {
      "main": [
        [
          {
            "node": "Get Access Token (Update)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Notification": {
      "main": [
        [
          {
            "node": "Get Meli Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Meli Order": {
      "main": [
        [
          {
            "node": "Get Meli Shipment (for address)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Meli Shipment (for address)": {
      "main": [
        [
          {
            "node": "get_billing_info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Token2": {
      "main": [
        [
          {
            "node": "Default Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Values": {
      "main": [
        [
          {
            "node": "Parse Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_billing_info": {
      "main": [
        [
          {
            "node": "build_payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get Token2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build_payload": {
      "main": [
        [
          {
            "node": "POST Sabana /orders/import",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Sabana /orders/import": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Meli Shipment Info": {
      "main": [
        [
          {
            "node": "Convert File Metadata Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert File Metadata Info": {
      "main": [
        [
          {
            "node": "Create Package",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Presigned-URL Info": {
      "main": [
        [
          {
            "node": "Get File from Local Storage Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File from Local Storage Info": {
      "main": [
        [
          {
            "node": "PUT File Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PUT File Info": {
      "main": [
        [
          {
            "node": "Confirm Upload Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get Meli Shipment Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Package": {
      "main": [
        [
          {
            "node": "Get Presigned-URL Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Token1": {
      "main": [
        [
          {
            "node": "Get Meli Attributes1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Meli Attributes1": {
      "main": [
        [
          {
            "node": "Merge Attributes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Get Attributes": {
      "main": [
        [
          {
            "node": "Get Token1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "xEMwQfmlQpuAYW2Y",
    "timeSavedMode": "fixed",
    "timezone": "America/Montevideo"
  },
  "versionId": "43b043cf-48e0-48e7-83fa-1455eb09d8fc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f09489af66615439812ccb85123e7f2a2a9ea905a9abe2c1dd72caf7dcc8c50b"
  },
  "id": "9lqXWLii1zx3zkv6",
  "tags": [
    {
      "updatedAt": "2025-11-14T00:05:24.096Z",
      "createdAt": "2025-11-14T00:05:24.096Z",
      "id": "0iOk1R4Zh0L8OViZ",
      "name": "Clientes"
    },
    {
      "updatedAt": "2026-02-26T19:48:17.542Z",
      "createdAt": "2026-02-26T19:48:17.542Z",
      "id": "Yxes5CEyxoczikIn",
      "name": "dyd"
    },
    {
      "updatedAt": "2026-03-12T21:51:55.794Z",
      "createdAt": "2026-03-12T21:51:55.794Z",
      "id": "HjI2QUWnSv4jrLkq",
      "name": "meli"
    },
    {
      "updatedAt": "2026-05-20T22:43:41.939Z",
      "createdAt": "2026-05-20T22:43:41.939Z",
      "id": "SjXl8wSEGa7J5U0m",
      "name": "mercadolibre"
    },
    {
      "updatedAt": "2026-05-20T22:43:42.023Z",
      "createdAt": "2026-05-20T22:43:42.023Z",
      "id": "4eHhiyXsvk6auD0G",
      "name": "sabana"
    }
  ]
}